{% set google_analytic = "" %}
{% set disqus_url = "" %}
{% set buttonshare = 0 %}
{% set noindexpage = 1 %}
{% set bancookie = 0 %}
{% set etatmenuleft = "on" %}
{% set recaptcha = false %}
{% set tmpladmin = 1 %}
{% extends "MkkSiteBundle:bootstrap3:base.html.twig" %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('scripts/tinymce/tinymce.min.js') }}"></script>
{% endblock %}
{% use "MkkSiteBundle:bootstrap3:admin/blocks.html.twig" %}
{% block modal %}
	{{ parent() }}
	{% include "MkkSiteBundle:bootstrap3:admin/modal.html.twig" %}
{% endblock %}
{% block body %}
	<div class="wrapper">
		<header class="main-header">
			<a href="{{ path('bord_index') }}" class="logo">{{ param['meta_titre'] }}</a>
			{% include "MkkAdminBundle:Default:menu.html.twig" %}
		</header>
		<aside class="main-sidebar">
			{% set avatar = "bundles/mkksite/img/avatar.png" %}
			{% if user.avatar != "" %}
				{% set avatar = user.avatar %}
			{% endif %}
			<section class="sidebar">
				<div class="user-panel">
					<div class="pull-left image">
						<img src="{{ asset(avatar) }}" class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p>{{ user.appel }}</p>
						{#
						<a href="#">
							<i class="fa fa-circle text-success"></i>
							Online</a>
						#}
					</div>
				</div>
				{% include "MkkAdminBundle:Default:aside.html.twig" %}
			</section>
		</aside>
		<main class="content-wrapper">
			<header>
				<div>
					{% set titre = titre | raw %}
					{% if paginator is defined and paginator.getTotalItemCount >= 2 %}
						{% set totalpage = paginator.getTotalItemCount | number_format("0", ",", " ") %}
						{% set titre = titre ~ " (" ~ totalpage ~ ")" %}
					{% endif %}
					<h1>
						{{ titre }}
						{% if stitre is defined and stitre != "" %}
							<small>{{ stitre|raw }}</small>
						{% endif %}
					</h1>
				</div>
				{% include "MkkAdminBundle:Default:actions.html.twig" %}
				{% if search is defined %}
					<div id="SearchBarre">
						{% include search.url %}
					</div>
				{% endif %}
			</header>
			<section>
				{% for type, flash_messages in app.session.flashBag.all %}
					{% for flash_message in flash_messages %}
						<div class="alert alert-{{ type }}">
							<button class="close" data-dismiss="alert">×</button>
							{{ flash_message|trans }}
						</div>
					{% endfor %}
				{% endfor %}
				{% if app.request.attributes.get('_route') == "bord_index" %}
					{% include "MkkAdminBundle:Default:noteinterne.html.twig" %}
				{% endif %}
				{% block body_contenu %}{% endblock %}
				{% if paginator is defined %}
					<div class="navigation">
						{{ knp_pagination_render(paginator) }}
					</div>
				{% endif %}
				<div class='mce-lettercount'>
					Caractères restants :
					<span></span>
				</div>
			</section>
		</main>
		<footer class="main-footer">
			<a href="http://www.marketik.com" target="_blank">MARKETIK</a>&nbsp;<span class="fa fa-copyright"></span>
		</footer>
	</div>
{% endblock %}
