{% extends "MkkSiteBundle::site.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
	{% include "MkkSiteBundle:bootstrap3:stylesheets.html.twig" %}
{% endblock %}
{% use "MkkSiteBundle:bootstrap3:blocks.html.twig" %}
{% block modal %}
	{{ parent() }}
	{% include "MkkSiteBundle:bootstrap3:modal.html.twig" %}
{% endblock %}
