{% block footerboutonOk %}
    <a href="#" class="btn btn-default" data-dismiss="modal">
        <i class="glyphicon glyphicon-remove"></i>
        <span>
            Ok
        </span>
    </a>
{% endblock %}
{% block headermodalenregistrement %}
    {% trans %}popup.enregistrement.titre{% endtrans %}
{% endblock %}
{% block bodymodalenregistrement %}
    {% trans %}enregistrer.true{% endtrans %}
{% endblock %}
{% block headermodalerreur %}
    {% trans %}popup.erreur.titre{% endtrans %}
{% endblock %}
{% block bodymodalerreur %}
    L'enregistrement n'a pas pu être effectué, veuillez contacter l'administrateur du site en cas d'autres problèmes.
    <br/>
    <div id="PopupErreurListing"></div>
{% endblock %}
{% block footerPopupFinEnregistrement %}
    <a data-dismiss="modal" class="btn btn-default" href="#">
        <i class="glyphicon glyphicon-remove"></i>
        <span>
            Fermer
        </span>
    </a>
    <a href="#" class="btn btn-default" data-rel="fiche">
        <i class="glyphicon glyphicon-eye-open"></i>
        <span>
            Aller sur la fiche
        </span>
    </a>
{% endblock %}
{% block bodyPopupFinEnregistrement %}
    Enregistrement effectué.
{% endblock %}
{% block PopupCaptchaErrorBody %}
    {% trans %}popup.captcha.erreur{% endtrans %}
{% endblock %}
{% block footerboutonEnregistrer %}
    <a href="#" class="btn btn-default" data-dismiss="modal">
        <i class="glyphicon glyphicon-remove"></i>
        <span>
            Annuler
        </span>
    </a>
    <a href="#" class="btn btn-default" data-rel="save">
        <i class="glyphicon glyphicon-floppy-saved"></i>
        <span>
            Enregistrer
        </span>
    </a>
{% endblock %}
