{% if breadcrumb is defined %}
    <ol class="breadcrumb">
        {% for link in breadcrumb %}
            <li{% if loop.last %} class="active"{% endif %}><a href="{{ link['url'] }}">{{ link['title'] }}</a></li>
        {% endfor %}
    </ol>
{% endif %}
