{% block footerboutonFermer %}
	<a href="#" class="btn btn-default" data-dismiss="modal">
		<i class="glyphicon glyphicon-remove"></i>
		<span>Fermer</span>
	</a>
{% endblock %}
{% block footerboutonOk %}
	<a href="#" class="btn btn-default" data-dismiss="modal">
		<i class="glyphicon glyphicon-remove"></i>
		<span>Ok</span>
	</a>
{% endblock %}
{% block footerboutonOuiNon %}
	<a href="#" class="btn btn-default" data-dismiss="modal">
		<i class="glyphicon glyphicon-remove-circle"></i>
		<span>Non</span>
	</a>
	<a href="#" class="btn btn-default" data-rel="save">
		<i class="glyphicon glyphicon-ok-circle"></i>
		<span>Oui</span>
	</a>
{% endblock %}
{% block headerenregistrer %}
	Enregistrer
{% endblock %}
{% block footerboutonEnregistrer %}
	<a href="#" class="btn btn-default" data-dismiss="modal">
		<i class="glyphicon glyphicon-remove"></i>
		<span>Annuler</span>
	</a>
	<a href="#" class="btn btn-default" data-rel="save">
		<i class="glyphicon glyphicon-floppy-saved"></i>
		<span>Enregistrer</span>
	</a>
{% endblock %}
{% macro modalOktmpl(id, header, body, data = {}) %}
	{% set datatmpl = {
		'id': id,
		'size': 'modal-lg',
		'data-autoclose': false
	} %}
	{% set datatmpl = datatmpl | merge(data) %}
	{% set footer = block('footerboutonOk') %}
	{% include "MkkSiteBundle:bootstrap3:tmpl/modal.html.twig" with datatmpl %}
{% endmacro %}
{% macro modalEnregistrertmpl(id, body, data = {}) %}
	{% set datatmpl = {
		'id': id,
		'size': 'modal-lg',
		'data-autoclose': false
	} %}
	{% set datatmpl = datatmpl | merge(data) %}
	{% set header = block('headerenregistrer') %}
	{% set footer = block('footerboutonEnregistrer') %}
	{% include "MkkSiteBundle:bootstrap3:tmpl/modal.html.twig" with datatmpl %}
{% endmacro %}
{% macro modalOuiNontmpl(id, header, body, data = {}) %}
	{% set datatmpl = {
		'id': id,
		'size': 'modal-lg',
		'data-autoclose': false
	} %}
	{% set datatmpl = datatmpl | merge(data) %}
	{% set footer = block('footerboutonOuiNon') %}
	{% include "MkkSiteBundle:bootstrap3:tmpl/modal.html.twig" with datatmpl %}
{% endmacro %}
{% macro modaltmpl(id, header, body, footer, data = {}) %}
	{% set datatmpl = {
		'id': id,
		'size': 'modal-lg',
		'data-autoclose': false
	} %}
	{% set datatmpl = datatmpl | merge(data) %}
	{% include "MkkSiteBundle:bootstrap3:tmpl/modal.html.twig" with datatmpl %}
{% endmacro %}
{% macro modalFermertmpl(id, header, body, data = {}) %}
	{% set datatmpl = {
		'id': id,
		'size': 'modal-lg',
		'data-autoclose': false
	} %}
	{% set datatmpl = datatmpl | merge(data) %}
	{% set footer = block('footerboutonFermer') %}
	{% include "MkkSiteBundle:bootstrap3:tmpl/modal.html.twig" with datatmpl %}
{% endmacro %}
