{% from "MkkSiteBundle:bootstrap3:macro.html.twig" import modalOktmpl,
modaltmpl %}
{% use "MkkSiteBundle:bootstrap3:blocks.html.twig" %}
{{ modalOktmpl( "PopupAucuneCorrespondance", "Aucune correspondance", 'Aucune correspondance avec les données
        rentrées.' ) }}
{{ modaltmpl( "PopupFinEnregistrement", "Fin enregistrement", block('bodyPopupFinEnregistrement'), block('footerPopupFinEnregistrement') ) }}
{{ modalOktmpl( "PopupCaptchaError", 'Erreur Captcha', block("PopupCaptchaErrorBody") ) }}
{{ modalOktmpl( "PopupLienDesactiver", 'Lien désactivé', "Lien désactivé" ) }}
{{ modalOktmpl( "PopupEnregistrement", block('headermodalenregistrement'), block('bodymodalenregistrement'),{'data-autoclose': true} ) }}
{{ modalOktmpl( "PopupErreur", block('headermodalerreur'),block('bodymodalerreur') ) }}
{% if boutonsAffichage['supprimer'] == 1 %}
	{{ modaltmpl( "PopupErrorSupprimer", block('headermodalerreur'), "Vous ne pouvez pas supprimer. Il reste des liaisons dans la base de donn&eacute;es<br><div id=\"EmplacementMessageError\"></div>"|raw,
        block('footerboutonOk') ) }}
{% endif %}
{{ modalOktmpl( "PopupError403", block('headermodalerreur'), "Vous n'avez pas les droits requis. Veuillez contacter l'administrateur, si l'erreur se poursuit." ) }}
{{ modalOktmpl( "PopupError401",
        block('headermodalerreur'), "Vous n'êtes pas connecté. Veuillez contacter l'administrateur, si l'erreur se poursuit." ) }}
{{ modalOktmpl( "PopupError500", block('headermodalerreur'), "Erreur interne du serveur. Veuillez contacter l'administrateur,
        si l'erreur se poursuit." ) }}
