{% if revolutionslider is defined %}
	<link rel="stylesheet" type="text/css" href="{{ asset('scripts/revolution-slider/css/settings.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('scripts/revolution-slider/css/layers.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('scripts/revolution-slider/css/navigation.css') }}">
{% endif %}
