{% extends "MkkAdminBundle:Evenement:layout.html.twig" %}
{% from "MkkAdminBundle:Evenement:macro.html.twig" import tbody %}
{% block body_contenu %}
{% set place = 0 %}
{% if param['evenement_place'] is defined %}
    {% set place = param['evenement_place'] %}
{% endif %}
{% set etat = 0 %}
{% if param['evenement_etat'] is defined %}
    {% set etat = param['evenement_etat'] %}
{% endif %}
	<table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
				<th>
					<input data-rel="allselect" type="checkbox"/>
				</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Catégorie</th>
                <th>Date(s)</th>
                {% if tarifs!=0 %}
                <th>Tarif(s)</th>
                {% endif %}
                <th>Lieu(x)</th>
                {% if place==1 %}
                <th>Places</th>
                {% endif %}
        		{% if paginator[0].totalnbreservation is defined %}
                    <th>Réservations</th>
                {% endif %}
                {% if etat==1 %}
                <th>Externe</th>
                <th>État</th>
                {% endif %}
                <th style="text-align: center;">Actif</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in paginator %}
                {{ tbody(entity, tarifs, etat, place) }}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
