{% extends "MkkAdminBundle:Default:langue.html.twig" %}

{% block forminfolangueEvenement %}
	<div class="row">
		<div class="col-md-6">
			{{ form_row(newform.titre) }}
		</div>
		<div class="col-md-6">
			{{ form_row(newform.alias) }}
		</div>
	</div>
	{{ form_row(newform.description) }}
{% endblock %}
{% macro forminfo(setform, param) %}
	{% set fonction = 'forminfolangueEvenement' %}
	{{- block('langueform') -}}
{% endmacro %}
{% macro tbody(evenement, tarifs, etat, place) %}
	<tr>
		<td style="text-align:center">
			<input type="checkbox" name="selection[]" value="{{ evenement.id }}"/>
		</td>
		<td>
			<a href="{{ path('beevenement_form',{'id': evenement.id }) }}">
				{{ evenement.titre|replace({"\\n": ""}) }}
			</a>
		</td>
		<td style="text-align:center">
			{% if evenement.vignette is defined and evenement.vignette != "" %}
				<a href="{{ path('beevenement_form',{'id': evenement.id }) }}">
					<img style="max-height: 100px;" src="{{ asset(evenement.vignette) }}">
				</a>
			{% endif %}
		</td>
		<td>
			{{ evenement.refcategorie }}
		</td>
		<td>
			{% if evenement.mindate != 0 %}
				{% set mindate = evenement.mindate | day %}
				{% set maxdate = evenement.maxdate | day %}
				{% if mindate != maxdate %}
					{{ mindate }}
					-
					{{ maxdate }}
				{% else %}
					{{ mindate }}
				{% endif %}
			{% endif %}
		</td>
		{% if tarifs != 0 %}
			<td>
				{% for prix in evenement.prixs %}
					{{ prix.chiffre }}
					pour
					{{ prix.type }}<br>
				{% endfor %}
			</td>
		{% endif %}
		<td>
			<ul>
				{% for emplacement in evenement.emplacements %}
					{% if emplacement.refetablissement != null %}
						{% if emplacement.refetablissement.actif != 0 %}
							<li>
								{{ emplacement.refetablissement.nom }}
								<br/>
								{% set adresses = emplacement.refetablissement.adresses %}
								{% if adresses.first is defined %}
									{% if adresses.first.info != null %}
										{{ adresses.first.info }}
										<br/>
									{% endif %}
									{{ adresses.first.cp }}
									-
									{{ adresses.first.ville }}
								{% endif %}
							</li>
						{% endif %}
					{% else %}
						{% set adresses = emplacement.adresses %}
						{% for adresse in emplacement.adresses %}
							<li>
								{% if adresse.info != null %}
									{{ adresse.info }}<br>
								{% endif %}
								{{ adresse.cp }}
								-
								{{ adresse.ville }}</li>
						</li>
					{% endfor %}
				{% endif %}
				<br>
			{% endfor %}
		</ul>
	</td>
	{% if place == 1 %}
		<td style="text-align:right">
			{% if evenement.placeillimite == 1 %}
				places illimités
			{% else %}
				{% if evenement.totalnbplace is defined %}
					{{ evenement.totalnbplace }}
				{% endif %}
			{% endif %}
		</td>
	{% endif %}
	{% if evenement.totalnbreservation is defined %}
		<td style="text-align:right">
			<a href="{{ path('bereservation_index',{'evenement': evenement.id}) }}">{{ evenement.totalnbreservation }}</a>
		</td>
	{% endif %}
	{% if etat == 1 %}
		<td>
			{{ evenement.externe|boolean }}
		</td>
		<td>
			{% if evenement.validation == 1 %}
				{% if evenement.correction == 1 %}
					Corrigé et publié
				{% else %}
					Validé, non corrigé
				{% endif %}
			{% else %}
				Non validé
			{% endif %}
		</td>
	{% endif %}
	<td style="text-align:center;">
		{{ evenement.publier|boolean }}
	</td>
</tr>
{% endmacro %}
