.ImgCover{
    background-size: cover;
    width: 100%;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
}
@media(min-width: 1024px){
    .ImgCover{
        height: 700px;
    }
}
.ImgCoverListing{
    background-size: cover;
    height: 350px;
    background-position: center center;
    background-repeat: no-repeat;
}
