html, body {
    max-width: 100%;
    width: auto;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: table;
    margin: auto;
    max-width: 380px;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#DivFormulaireForgot {
    display: none;
}

section {
    display: table-cell;
    padding: 20px 15px;
    vertical-align: middle;
    text-align: center;
}

section>.logo-login {
    display: table;
    width: 100%;
    height: 170px;
    text-align: center;
}

section>.logo-login>span {
    display: table-cell;
    vertical-align: bottom;
}

section>.logo-login>span>img {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 290px;
    max-height: 170px;
}

section>.alert {
    border: none;
    border-radius: 0;
    background-color: #9ec25c;
    color: #fff;
}

section>.alert .close, section>.alert .close:hover, section>.alert .close:focus {
    color: #fff;
    opacity: 1;
}

section>.page-login {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 10px 0 #656565;
    -moz-box-shadow: 2px 2px 10px 0 #656565;
    box-shadow: 2px 2px 10px 0 #656565;
    text-align: center;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=10);
    -o-box-shadow: 2px 2px 10px 0 #656565;
}

section>.page-login.page-login-logo {
    margin-bottom: 170px;
}

section>.page-login>h1 {
    margin: 0;
    padding: 10px 15px;
    border-radius: 10px;
    color: #9ec25c;
    font-size: 2em;
}

section>.page-login>h1>span {
    font-size: 14px;
}

section>.page-login>form>div.input-group {
    padding: 20px 30px;
    border-left: 5px solid transparent;
    transition: border-left-color .5s ease 0s, box-shadow .5s ease 0s, background-color .5s ease 0s;
}

section>.page-login>form>div.form-group.active {
    border-left: 5px solid #9ec25c;
    background-color: #f0f0f0;
}

section>.page-login>form>div.input-group>span.input-group-addon {
    border-right: 0;
    border-radius: 0;
    background-color: #fff;
    color: #ccc;
}

section>.page-login>form>div.input-group>input {
    padding-left: 0;
    border-left: 0;
    border-radius: 0;
    box-shadow: none;
}

section>.page-login>form>div.input-group>input:focus {
    border-color: #ccc;
    box-shadow: none;
}

section>.page-login>form>button {
    margin-top: 20px;
    border: none;
    border-radius: 0;
    background-color: #9ec25c;
    color: #fff;
}

section>.page-login>form>button:hover, section>.page-login>form>button:focus {
    border: none;
    background-color: #8cae4d;
    color: #fff;
}

@media (max-height: 670px) {
    section>.page-login.page-login-logo {
        margin-bottom: 0;
    }
}

input[type="checkbox"] {
    float: none !important;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
