{% block footerboutonOk %}
    <a href="#" class="btn btn-default" data-dismiss="modal">
        <i class="glyphicon glyphicon-remove"></i>
        <span>
            Ok
        </span>
    </a>
{% endblock %}
{% block PopupEnregistrementHeader %}
    {% trans %}popup.enregistrement.titre{% endtrans %}
{% endblock %}
{% block PopupEnregistrementBody %}
    {% trans %}enregistrer.true{% endtrans %}
{% endblock %}
{% block PopupErreurHeader %}
    {% trans %}popup.erreur.titre{% endtrans %}
{% endblock %}
{% block PopupErreurBody %}
    {% trans %}erreur.true{% endtrans %}
{% endblock %}
{% block PopupCaptchaErrorBody %}
    {% trans %}popup.captcha.erreur{% endtrans %}
{% endblock %}
{% block BocdyPopup_check_nom %}
    Vous n'avez pas renseign&eacute; de nom de soci&eacute;t&eacute; ou de nom pour ce contact !
    <br/>Veulliez saisir au moins un nom ou un nom de societe.
{% endblock %}
