{% block footerboutonOk %}
	<a href="#" class="btn btn-default" data-dismiss="modal">
		<i class="glyphicon glyphicon-remove"></i>
		<span>
			Ok
		</span>
	</a>
{% endblock %}
{% block footerboutonEnregistrer %}
	<a href="#" class="btn btn-default" data-dismiss="modal">
		<i class="glyphicon glyphicon-remove"></i>
		<span>
			Annuler
		</span>
	</a>
	<a href="#" class="btn btn-default" data-rel="save">
		<i class="glyphicon glyphicon-floppy-saved"></i>
		<span>
			Enregistrer
		</span>
	</a>
{% endblock %}
{% macro modalBoutonEnregistrertmpl(id, header, body, data = {}) %}
	{% set datatmpl = {
		'id': id,
		'autoclose': false,
		'header': block('headerenregistrer'),
		'body': body,
		'footer': block('footerboutonEnregistrer')
	} %}
	{% include "MkkSiteBundle:bootstrap2:tmpl/modal.html.twig" with datatmpl %}
{% endmacro %}
{% macro modalOktmpl(id, header, body, data = {}) %}
	{% set datatmpl = {
		'id': id,
		'autoclose': false,
		'header': header,
		'body': body,
		'footer': block('footerboutonOk')
	} %}
	{% include "MkkSiteBundle:bootstrap2:tmpl/modal.html.twig" with datatmpl %}
{% endmacro %}
{% macro modaltmpl(id, header, body, footer, data = {}) %}
	{% set datatmpl = {
		'id': id,
		'autoclose': false,
		'header': header,
		'body': body,
		'footer': footer
	} %}
	{% include "MkkSiteBundle:bootstrap2:tmpl/modal.html.twig" with datatmpl %}
{% endmacro %}
