{% from "MkkSiteBundle:bootstrap2:macro.html.twig" import modalOktmpl,
modalBoutonEnregistrertmpl %}
{% use "MkkSiteBundle:bootstrap2:blocks.html.twig" %}
{{ modalOktmpl(
        "PopupCaptchaError",
        'Erreur Captcha',
        block("PopupCaptchaErrorBody")
) }}
{{ modalOktmpl(
        "PopupLienDesactiver",
        'Lien désactivé',
        "Lien désactivé"
) }}
{{ modalOktmpl(
        "PopupEnregistrement",
        block("PopupEnregistrementHeader"),
        block("PopupEnregistrementBody"),
        {
        'data-autoclose': true
        }
) }}
{{ modalOktmpl(
        "PopupErreur",
        block("PopupErreurHeader"),
        block("PopupErreurBody")
) }}
{{ modalOktmpl
    ("Popup_check_nom",
    'Avertissement',
    block('BocdyPopup_check_nom')
) }}
