<div class="row">
	<div class="col-md-6 col-sm-6">
		{{ form_widget(form['standard'].adresses,{'attr':{'data-tags': param['tags_adresse_etablissement']|json_encode}}) }}
	</div>
	<div class="col-md-6 col-sm-6">
		{{ form_widget(form['standard'].telephones,{'attr':{'data-tags': param['tags_telephone_etablissement']|json_encode}}) }}
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-sm-6">
		{{ form_widget(form['standard'].emails,{'attr':{'data-tags': param['tags_email_etablissement']|json_encode}}) }}
	</div>
	<div class="col-md-6 col-sm-6">
		{{ form_widget(form['standard'].liens) }}
	</div>
</div>
