{% from "MkkAdminBundle:Default:macro.html.twig" import navbarformSystemParam %}
{% extends "MkkAdminBundle:Param:layout.html.twig" %}
{% block body_contenu %}
	<form id="FormParam" onsubmit="return Param.Enregistrer();" action="{{ path('beparam_json-edit') }}">
		<input type="submit"/>
		{{ navbarformSystemParam('param',md5,form,tmpl, param) }}
	</form>

{% endblock %}
