<div class="col-md-12">
	<div class="box box-solid">
		<div class="box-header with-border">
			<i class="fa fa-text-width"></i>
			<h3 class="box-title">
				{{ titre }}
			</h3>
		</div>
		<div class="box-body">
			data
		</div>
	</div>
</div>
