<div class="rev_slider_wrapper">
    <div class="rev_slider {{ slider.code }}" data-version="5.0" data-param="{{ slider.param("json") }}">
        <ul>
            {% for slide in slider.revolutionsliderslides %}
                {% if slide.actifpublic == 1 %}
                    <li{% for key,param in slide.param %}{% if param != "" %} data-{{ key }}="{{ param }}"{% endif %}{% endfor %}>
                        <img src="{{ asset(slide.image) }}" alt="{{ slide.titre }}"{% for key,param in slide.paramimage %}{% if param != "" %} data-{{ key }}="{{ param }}"{% endif %}{% endfor %} />
                        {% for layer in slide.layers %}
                            {% if layer['active'] is not defined or layer['active'] == 1 %}
                                <div class="tp-caption {{ layer['class'] }}"{% for key,param in layer %} data-{{ key }}="{{ param }}"{% endfor %}{% if layer["style"] is defined and layer["style"] != "" %} style="{{ layer["style"] }}"{% endif %}>{{ layer.texthtml|raw }}</div>
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
