<div class="row">
    <div class="col-md-6 col-sm-6">
        {{ form_row(form.blogmettre_avant) }}
    </div>
    <div class="col-md-6 col-sm-6">
        {{ form_row(form.blogmettre_accueil) }}
        {{ form_row(form.blogcacherpardefautredacteur) }}
    </div>
</div>
