{% from "MkkAdminBundle:Default:macro.html.twig" import uploadFile %}
<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.filelogo) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.filelogobackend) }}
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.filefavicon) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.filegooglemaps) }}
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.fileavatar) }}
	</div>
</div>
