<fieldset>
    <legend>TinyMce</legend>
    <div class="row">
        <div class="col-md-6">
            <p>Groupes utilisateurs qui ont accès au FileManager</p>
            {{ form_row(form.tinymce_filemanageracces) }}
        </div>
    </div>
</fieldset>
