<div class="row">
	<div class="col-sm-6">
		{{ form_widget(form.tags_telephone) }}
	</div>
	<div class="col-sm-6">
		{{ form_widget(form.tags_email) }}
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		{{ form_widget(form.tags_adresse) }}
	</div>
	<div class="col-sm-6">
		{{ form_widget(form.tags_client) }}
	</div>
</div>
