<fieldset>
	<legend>Ne pas fermer la modal</legend>
	<div class="row">
		<div class="col-md-6">
			{{ form_row(form.modal_keyboard) }}
		</div>
		<div class="col-md-6">
			{{ form_row(form.modal_backdrop) }}
		</div>
	</div>
</fieldset>
