{% from "MkkAdminBundle:Default:macro.html.twig" import uploadFile %}
<div class="row">
	<div class="col-sm-6">
		{{ form_row(form.filevideo) }}
		{{ form_row(form.fileimage) }}
		{{ form_row(form.filefondimage) }}
		{{ form_row(form.filefiligramme) }}
		{{ form_row(form.filegalerie) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form.css) }}
	</div>
</div>
