{% extends "MkkSiteBundle:Templates:admin.html.twig" %}
{% block body_content %}
  <div class="embed-responsive embed-responsive-16by9">
    <iframe src="{{ urlfilemanager }}" class="embed-responsive-item"></iframe>
  </div>
{% endblock %}
