<p>Par d&eacute;faut le message d'accueil est publi&eacute; d&egrave;s l'enregistrement pour une p&eacute;riode illimit&eacute;e mais vous pouvez aussi pr&eacute;ciser une p&eacute;riode de diffusion.</p><br/>
<div class="row">
	<div class="col-md-6 col-sm-6">
		{{ form_row(form['standard'].datedebut) }}
	</div>
	<div class="col-md-6 col-sm-6">
		{{ form_row(form['standard'].datefin) }}
	</div>
</div>
