<div>
	{% if actions is defined %}
		{% if ariane is defined %}
			{% set total = ariane | length %}
			{% if total - 1 >= 0 %}
				{% if titre is not defined %}
					{% set titre = ariane[total - 1]['text'] %}
				{% endif %}
			{% endif %}
		{% endif %}
		{% if actions.data is defined and actions.data | length > 0 %}
			{% if actions.data is defined %}
				<div class="pull-right">
					{% if actions.data is defined %}
						{% for action in actions.data %}
							{% if action.liens is defined %}
								<div class="btn-group">
									<a class="btn btn-tool dropdown-toggle" data-toggle="dropdown" href="#" title="{{ action.text|raw }}">
										{% if action.img is defined and action.img | trim != "" %}
											{% set actionimg = action.img %}
										{% else %}
											{% set actionimg = "glyphicon" %}
										{% endif %}
										<i class="{{ actionimg }}"></i>
										<span class="HiddenPhone">&nbsp;&nbsp;{{ action.text|raw }}</span>
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										{% for lien in action.liens %}
											<li>
												{% set attr = {
													'title': lien.text
												} %}
												{% if lien.id is defined and lien.id != "" %}
													{% set attr = {
														"id": lien.id
													} | merge(attr) %}
												{% endif %}
												{% set attr = {
													"href": "#"
												} | merge(attr) %}
												{% if lien.url != "" %}
													{% set attr = attr | merge({"href": lien.url}) %}
												{% endif %}
												{% if lien.attr is defined %}
													{% set attr = attr | merge(lien.attr) %}
												{% endif %}
												<a {% for code, value in attr|sort %} {{ code }}="{{ value }}" {% endfor %}>
													{% if lien.img is defined and lien.img | trim != "" %}
														{% set lienimg = lien.img %}
													{% else %}
														{% set lienimg = "glyficon" %}
													{% endif %}
													<i class="{{ lienimg }}"></i>
													<span class="HiddenPhone">&nbsp;&nbsp;{{ lien.text|raw }}</span>
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							{% else %}
								{% set attr = {
									'title': action.text
								} %}
								{% if action.id is defined %}
									{% set attr = {
										"id": action.id
									} | merge(attr) %}
								{% endif %}
								{% set attr = {
									"class": "btn btn-tool"
								} | merge(attr) %}
								{% if action.class is defined %}
									{% set attr = attr | merge({
										"class": attr['class'] ~ " " ~ action.class
									}) %}
								{% endif %}
								{% if action.disabled is defined %}
									{% set attr = attr | merge({
										"class": attr['class'] ~ " disabled"
									}) %}
								{% endif %}
								{% set attr = {
									"href": "#"
								} | merge(attr) %}
								{% if action.url != "" %}
									{% set attr = attr | merge({"href": action.url}) %}
								{% endif %}
								{% if action.attr is defined %}
									{% set attr = attr | merge(action.attr) %}
								{% endif %}
								<a {% for code, value in attr|sort %} {{ code }}="{{ value }}" {% endfor %}>
									{% if action.img is defined and action.img | trim != "" %}
										{% set actionimg = action.img %}
									{% else %}
										{% set actionimg = "glyphicon" %}
									{% endif %}
									<i class="{{ actionimg }}"></i>
									<span class="HiddenPhone" data-loading-text="chargement...">&nbsp;&nbsp;{{ action.text|raw }}</span>
								</a>
							{% endif %}
						{% endfor %}
					{% endif %}
					<div id="ChampsObligatoireToolbar">Champs obligatoires</div>
				</div>
			{% endif %}
		{% endif %}
	{% endif %}
</div>
