{% set userRefgroup = user.refgroup.id %}
<ul class="sidebar-menu">
	<li class="header">NAVIGATION</li>
	{% for menu in menusite %}
		{% if menu.clef == "aside" %}
			{% for lien in menu.menus %}
				{% set total = lien.menus | length %}
				{% set refgroup = lien.refgroup | split(",") %}
				{% if userRefgroup in refgroup %}
					{% if total == 0 %}
						<li>
							{% set url = "#" %}
							{% if lien.url != "" %}
								{% set url = path(lien.url) %}
							{% endif %}
							<a href="{{ url }}">
								{#
								<i class="fa fa-th"></i>
								#}
								<span>{{ lien.libelle }}</span>
							</a>
						</li>
					{% else %}
						{% set total = 0 %}
						{% for sousmenu in lien.menus %}
							{% set refgroup = sousmenu.refgroup | split(',') %}
							{% if userRefgroup in refgroup %}
								{% set total = total + 1 %}
							{% endif %}
						{% endfor %}
						{% if total != 0 %}
							<li class="treeview">
								<a href="#">
									{#
								<i class="fa fa-pie-chart"></i>
								#}
									<span>{{ lien.libelle }}</span>
									<span class="pull-right-container">
										<i class="fa fa-angle-left pull-right"></i>
									</span>
								</a>
								<ul class="treeview-menu">
									{% for sousmenu in lien.menus %}
										{% set refgroup = sousmenu.refgroup | split(',') %}
										{% if userRefgroup in refgroup %}
											<li>
												{% set url = "#" %}
												{% if sousmenu.url != "" %}
													{% set url = path(sousmenu.url) %}
												{% endif %}
												<a href="{{ url }}">
													<i class="fa fa-circle-o"></i>
													{{ sousmenu.libelle }}
												</a>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							</li>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
</ul>
