{% block body_contenu %}
	<ul id="ListingGps">
		{% for entity in entities %}
			<li data-html="DetailsHTML{{ entity.id }}" data-gps="{{ entity.data['adresse']['gps'] }}">
				<div id="DetailsHTML{{ entity.id }}" style="display:none">{{ entity.data['nom'] }}</div>
			</li>
		{% endfor %}
	</ul>
	<div class="row-fluid">
		<div class="span12" id="mapglobe" style="height:400px;"></div>
	</div>
{% endblock %}
