<nav class="navbar navbar-static-top">
	<!-- Sidebar toggle button-->
	<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</a>

	<div class="navbar-custom-menu">
		<ul class="nav navbar-nav">
			{#
			{% include "MkkAdminBundle:Default:menu/messages.html.twig" %}
			{% include "MkkAdminBundle:Default:menu/notifications.html.twig" %}
			{% include "MkkAdminBundle:Default:menu/tasks.html.twig" %}
			#}
			<li class="dropdown user user-menu">
				{% set avatar = "bundles/mkksite/img/avatar.png" %}
				{% if user.avatar != "" %}
					{% set avatar = user.avatar %}
				{% endif %}
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<img src="{{ asset(avatar) }}" class="user-image img-circle" alt="User Image">
					<span class="hidden-xs">{{ user.appel}}</span>
				</a>
				<ul class="dropdown-menu">
					<!-- User image -->
					<li class="user-header">
						<img src="{{ asset(avatar) }}" class="img-circle" alt="User Image">
						<p>{{ user.appel }}</p>
					</li>
					<!-- Menu Body -->
					{# <li class="user-body"> <div class="row"> <div class="col-xs-4 text-center"> <a href="#">Followers</a> </div> <div class="col-xs-4 text-center"> <a href="#">Sales</a> </div> <div class="col-xs-4 text-center"> <a href="#">Friends</a> </div> </div>
					<!-- /.row --> </li> #}
					<!-- Menu Footer-->
					<li class="user-footer">
						<div class="pull-left">
							<a href="{{ path('bemoncompte_profil') }}" class="btn btn-default btn-flat">Mon profil</a>
						</div>
						<div class="pull-right">
							<a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Déconnexion</a>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
