{% if accueilmessage|raw!="" %}
<div class="alert alert-default msgaccueil">
    <div class="pull-right" style="margin-top: -15px; margin-right: -8px; cursor: pointer;">x</div>
    {{ accueilmessage|raw }}
</div>
{% endif %}
