{% if noteinternes is defined and noteinternes|length!=0 %}
    <h2>Notes internes</h2>
    {% for lecture in noteinternes %}
        {% set noteinterne = lecture.refnoteinterne %}
        <div class="panel panel-noteinterne">
            <div class="panel-body">
                <a href="#" class="close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <h4>{{ noteinterne.datedebut|day }} | {{ noteinterne.titre }} </h4>
                {{ noteinterne.contenu|raw }}
                {% if noteinterne.lien != "" %}
                    <a class="btn btn-primary btn-sm" href="{{ noteinterne.lien }}" target="_blank">En savoir plus...</a>
                {% endif %}
                &nbsp;
                <div class="pull-right">
                    <a onclick="return Backend.Noteinterne(this);" href="{{ path('benoteinterne_json-confirm',{noteinternelecture: lecture.id}) }}">
                        J'ai lu
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
