{% set urlsearch1 = app.request.get("_route") | replace({"page": "index"}) %}
{% set avancee = 0 %}
{% set autre = 1 %}
{% for input in search.form %}
	{% if input.vars.attr["data-type"]is defined and input.vars.attr["data-type"] == "avancee" %}
		{% set avancee = 1 %}
	{% else %}
		{% set autre = autre + 1 %}
	{% endif %}
{% endfor %}
{% set colsm = 12 // autre %}
<form class="form-inline" class="form-inline" id="FormSearch" action="{{ path(urlsearch1) }}">
	{% for input in search.form %}
		{% if input.vars.attr["data-type"]is not defined or input.vars.attr["data-type"] != "avancee" %}
			<div class="col-sm-{{ colsm }}">
				{{ form_widget(input,{'attr': {'data-search': 1}}) }}
			</div>
		{% endif %}
	{% endfor %}
	<div class="col-sm-{{ colsm }}" style="text-align:right;">
		<a class="BtnSearch btn btn-default">
			<i class="glyphicon glyphicon-search"></i>
			Rechercher</a>
		{% if avancee == 1 %}
			<a href="#" id="boutonRecherche" class="btn btn-default">
				<i class="glyphicon glyphicon-zoom-in"></i>
				Recherche avanc&eacute;e</a>
		{% endif %}
		{% if search.init == 1 %}
			<a href="{{ path(urlsearch1) }}" class="btn btn-default">
				<i class="glyphicon glyphicon-refresh"></i>
				R&eacute;initialiser</a>
		{% endif %}
		{% if avancee == 1 %}
			{% for key, value in app.request.query.all %}
				{% if key in app.request.query.all|keys or value is null%}
				{% else %}
					<input type="hidden" id="{{ key }}" value="{{ value }}" name="{{ key }}">
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
</form>
