{% from "MkkAdminBundle:Default:macro.html.twig" import navbarformSystemParam %}
{% extends "MkkAdminBundle:System:layout.html.twig" %}
{% block body_contenu %}
	<form id="FormSystem" onsubmit="return System.Enregistrer();" action="{{ path('besystem_json-edit') }}">
		<input type="submit"/>
		{{ navbarformSystemParam('system',md5,form,tmpl, param) }}
	</form>

{% endblock %}
