{% extends "MkkAdminBundle:RevolutionSlider:Slider/layout.html.twig" %}
{% block body_contenu %}
	{% if slider.id is null %}
		<div class="alert alert-info" role="alert">Pour pouvoir ajouter des images, vous devez d'abord enregistrer les paramètres du slider.</div>
	{% endif %}
	<form id="FormSlider" onsubmit="return Slider.Enregistrer();" action="{{ path('berevolutionslider_json-form', { 'id': slider.id }) }}">
		<input type="submit"/>
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#informations" data-toggle="tab">Informations</a>
			</li>
			<li>
				<a href="#parametres" data-toggle="tab">Paramètres</a>
			</li>
			<li>
				<a href="#navigation" data-toggle="tab">Navigation</a>
			</li>
			{% if slider.id is not null %}
				<li>
					<a href="{{ path('berevolutionslider_slides', {'id': slider.id}) }}">Slide(s)</a>
				</li>
			{% endif %}
		</ul>
		<div class="tab-content">
			<div class="tab-pane active fade in" id="informations">
				{% include "MkkAdminBundle:RevolutionSlider:Slider/tmpl/form/informations.html.twig" %}
			</div>
			<div class="tab-pane fade" id="parametres">
				{% include "MkkAdminBundle:RevolutionSlider:Slider/tmpl/form/parametres.html.twig" %}
			</div>
			<div class="tab-pane fade" id="navigation">
				{% include "MkkAdminBundle:RevolutionSlider:Slider/tmpl/form/navigation.html.twig" %}
			</div>
		</div>
	</form>
{% endblock %}
