{% extends "MkkAdminBundle:RevolutionSlider:Slider/layout.html.twig" %}
{% block body_contenu %}
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                {thselection}
                <th>Titre</th>
                <th>Nombre de slide(s)</th>
            </tr>
        </thead>
        <tbody>
            {% for slider in paginator %}
                <tr>
                    <td>
                        <input type="checkbox" name="selection[]" value="{{ slider.id }}" />
                    </td>
                    <td>
                        <a href="{{ path('berevolutionslider_form', {'id': slider.id}) }}">{{ slider.titre }}</a>
                    </td>
                    <td>{{ slider.revolutionsliderslides|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
