{% extends "MkkAdminBundle:RevolutionSlider:Slider/layout.html.twig" %}
{% block body_contenu %}
	<ul class="nav nav-tabs">
		<li>
			<a href="{{ path('berevolutionslider_form', {'id': slider.id}) }}" data-url="#informations">Informations</a>
		</li>
		<li>
			<a href="{{ path('berevolutionslider_form', {'id': slider.id}) }}" data-url="#parametres">Paramètres</a>
		</li>
		<li>
			<a href="{{ path('berevolutionslider_form', {'id': slider.id}) }}" data-url="#navigation">Navigation</a>
		</li>
		<li class="active">
			<a href="#">Slide(s)</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active fade in" id="slides">
			{% if slides | length > 2 %}
				<div class="alert alert-info" role="alert">Pour changer l'ordre des slides, déplacer les lignes du tableau.</div>
			{% endif %}
			<table class="table table-striped table-condensed table-hover table-sortable">
				<thead>
					<tr>
						{thselection}
						<th>Nom</th>
						<th>Image</th>
						<th>Actif public</th>
					</tr>
				</thead>
				<tbody>
					{% for key, slide in slides %}
						<tr data-id="{{ slide.id }}">
							<td>
								<input type="checkbox" name="selection[]" value="{{ slide.id }}"/>
							</td>
							<td>
								<a href="{{ path('berevolutionslider_slideform', {'slider': slider.id, 'id': slide.id}) }}">{{ slide.titre }}</a>
							</td>
							<td>
								<img src="{{ asset(slide.image) }}" style="max-height: 100px;"/>
							</td>
							<td>
								{{ slide.actifpublic|boolean }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
