{% from "MkkAdminBundle:Bookmark:macro.html.twig" import forminfo %}
<div class="row">
	<div class="col-md-6">
		{{ form_row(form['standard'].url) }}
	</div>
	<div class="col-md-6">
		{{ form_row(form['standard'].tag) }}
	</div>
</div>
{{ forminfo(form,param) }}
