<fieldset>
	<legend>{{ name }}</legend>
	<div class="row">
		{% for input in form %}
			<div class="col-md-6">
				{{ form_label(input) }}
				{{ form_errors(input) }}
			</div>
		{% endfor %}
	</div>
</fieldset>
