{% if google_keyapi is defined and google_keyapi!=''%}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true{% if google_keyapi is defined and google_keyapi !='' %}&key={{ google_keyapi }}{% endif %}"></script>
{% endif %}
{% if bancookie is not defined and param['cookiebanner_actif']is defined and param['cookiebanner_actif'] != 0 %}
	{% set tabcookiebanner = ['position', 'close-text', 'effect', 'mask-opacity', 'mask-background'] %}
	<div class="cookiebanner">
		<div class="cookiebanner-close" style="float: right; padding-left:5px;">&#10006;</div>
		<span>Message</span>
		<a href=".." target="_blank">Learn more</a>
	</div>
{% endif %}
{% if piwik_id is defined and piwik_url is defined %}
	<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u = "//{{ piwik_url }}/";
			_paq.push([
				'setTrackerUrl', u + 'piwik.php'
			]);
			_paq.push(['setSiteId', {{ piwik_id }}]);
			var d = document,
				g = d.createElement('script'),
				s = d.getElementsByTagName('script')[0];
			g.type = 'text/javascript';
			g.async = true;
			g.defer = true;
			g.src = u + 'piwik.js';
			s.parentNode.insertBefore(g, s);
		})();
	</script>
{% endif %}
{% if disqus_url is defined and disqus_url != "" %}
	<script type="text/javascript" src="{{ disqus_url }}embed.js" data-timestamp="{{ 'now'|date('U') }}"></script>
	<script id="dsq-count-scr" src="{{ disqus_url }}count.js" async></script>
	<script>
		var disqus_config = function() {
			this.page.url = "{{ app.request.uri }}"; // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = "{{ app.request.uri|md5 }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
	</script>
{% endif %}
{% if revolutionslider is defined %}
	<script type="text/javascript" src="{{ asset('scripts/revolution-slider/js/jquery.themepunch.tools.min.js?rev=5.0') }}"></script>
	<script type="text/javascript" src="{{ asset('scripts/revolution-slider/js/jquery.themepunch.revolution.min.js?rev=5.0') }}"></script>
{% endif %}
{% if usegoogleplus is defined %}
	<script src="https://apis.google.com/js/platform.js" async defer>
		lang : {{ usegoogleplus }}
	</script>
{% endif %}
{% if uselinkedin is defined %}
	<script src="//platform.linkedin.com/in.js" type="text/javascript">
		lang : {{ uselinkedin }}
	</script>
{% endif %}
{% if usegoogleplus is defined %}
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endif %}
