<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta property="og:title" content="{{ titresite }}"/>
{% if param['meta_theme_color']is defined %}
	<meta name="theme-color" content="{{ param['meta_theme_color'] }}"/>
{% endif %}
{% if metatags['canonical']is defined and metatags['canonical'] != "" %}
	<link rel="canonical" href="{{ metatags['canonical'] }}">
{% endif %}
{% if paginator is defined %}
	{% if paginator.getPageCount >= 2 %}
		{% set prev = paginator.getPage - 1 %}
		{% set next = paginator.getPage + 1 %}
		{% if prev <= 1 %}
			<link rel="prev" href="{{ path(paginator.getRoute, paginator.getParams|merge({'page': prev})) }}"/>
		{% endif %}
		{% if next <= paginator.getPageCount %}
			<link rel="next" href="{{ path(paginator.getRoute, paginator.getParams|merge({'page': next})) }}"/>
		{% endif %}
	{% endif %}
{% endif %}
{% if favicon is defined %}
	<link rel="shortcut icon" href="{{ asset(favicon['url']) }}" type="{{ favicon['mime'] }}"/>
{% endif %}
{% for key, val in metatags %}
	{% if key != "canonical" and val != "" and key != "titre" %}
		{% if key | substrCount("og:") != 0 %}
			<meta property="{{ key }}" content="{{ val }}"/>
		{% else %}
			<meta name="{{ key }}" content="{{ val }}"/>
		{% endif %}
	{% endif %}
{% endfor %}
{% if enseigne.liens | length %}
	{% for lien in enseigne.liens %}
		{% if lien.type == "google +" %}
			<link href="{{ lien.adresse }}" rel="publisher"/>
		{% endif %}
	{% endfor %}
{% endif %}
{% if noindexpage is defined and noindexpage == 1 %}
	<meta name="robots" content="noindex">
{% endif %}
