{% set modal_backdrop = 0 %}
{% if param['modal_backdrop']is defined %}
	{% set modal_backdrop = param['modal_backdrop'] %}
{% endif %}
{% set modal_keyboard = 0 %}
{% if param['modal_keyboard']is defined %}
	{% set modal_keyboard = param['modal_keyboard'] %}
{% endif %}
{% spaceless %}
	<!DOCTYPE html>
	<html lang="{{ locale }}" {% if usefacebook is defined %} xmlns:fb="http://www.facebook.com/2008/fbml" {% endif %} prefix="og: http://ogp.me/ns#">
		<head>
			<title>{{ titresite }}</title>
			{% block meta %}
				{% include "MkkSiteBundle::meta.html.twig" %}
			{% endblock %}
			{% block stylesheets %}
				{% include "MkkSiteBundle::stylesheets.html.twig" %}
			{% endblock %}
			{% if google_analytic is defined and google_analytic != "" and app.getEnvironment != "dev" and buttonshare is defined %}
				<script>
					{% include "MkkSiteBundle::javascript.html.twig" %}
				</script>
			{% endif %}
			{% if buttonshare is not defined %}
				<script src="https://apis.google.com/js/platform.js" async defer>
					{
						lang: '{{ locale }}'
					}
				</script>
				<script src="//platform.linkedin.com/in.js" type="text/javascript">
					lang : fr_FR
				</script>
			{% endif %}
			{% if recaptcha is not defined and param['recaptcha_clef']is defined and param['recaptcha_clef'] != "" and param['recaptcha_secret']is defined and param['recaptcha_secret'] != "" %}
				<script src='https://www.google.com/recaptcha/api.js'></script>
			{% endif %}
		</head>
		{% set attr = {
			'data-module': moduleactuel,
			'data-dir': asset(''),
			'data-googlemaps': ''
		} %}
		{% if moduleroute is defined %}
			{% set attr = attr | merge({'data-route': moduleroute}) %}
		{% endif %}
		{% if image_googlemaps is defined and image_googlemaps != "" %}
			{% set attr = attr | merge({
				'data-googlemaps': url(generateurl) ~ image_googlemaps
			}) %}
		{% endif %}
		{% if imgaccueil is defined and imgaccueil != "" %}
			{% set attr = attr | merge({'style': "background-image: url('{{ imgaccueil }}');"}) %}
		{% endif %}
		{% set bodydiv = "" %}
		{% for b, a in attr %}
			{% if loop.index != 0 %}
				{% set bodydiv = bodydiv ~ ' ' %}
			{% endif %}
			{% set bodydiv = bodydiv ~ b ~ '="' ~ a ~ '"' %}
		{% endfor %}
		<body {{ bodydiv|raw }}>
			{% if facebook_id is defined %}
				<div id="fb-root"></div>
				<script>
					window.fbAsyncInit = function() {
						FB.init({
							appId: '{{ facebook_id }}', status: true, // check login status
							cookie: true, // enable cookies to allow the server to access the session
							xfbml: true // parse XFBML
						});
						// Additional initialization code here
					};
				</script>
			{% endif %}
			<noscript>Ce site fonctionne avec javascript d'activé</noscript>
			{% block body %}{% endblock %}
			{% block body_footer %}{% endblock %}
			{% block modal %}{% endblock %}
			<script src="{{ asset('bundles/mkksite/js/modernizr.js') }}"></script>
			{% if manifest['common.js']is defined %}
				<script src="{{ asset('assets/'~manifest['common.js']) }}"></script>
			{% endif %}
			{% if tmpladmin is defined %}
				{% if manifest['admin.js']is defined %}
					<script src="{{ asset('assets/'~manifest['admin.js']) }}"></script>
				{% endif %}
			{% else %}
				{% if pagescreen is defined and manifest['screen.js']is defined %}
					<script src="{{ asset('assets/'~manifest['screen.js']) }}"></script>
				{% elseif manifest['front.js']is defined %}
					<script src="{{ asset('assets/'~manifest['front.js']) }}"></script>
				{% endif %}
			{% endif %}
			{% block javascripts %}
				{% include "MkkSiteBundle::javascripts.html.twig" %}
			{% endblock %}
			{% block template %}
				{% include "MkkSiteBundle::template.tpl.twig" %}
			{% endblock %}
		</body>
	</html>
{% endspaceless %}
