{% if tmpladmin is defined %}
	{% if manifest['admin.css']is defined %}
		<link rel="stylesheet" href="{{ asset('assets/'~manifest['admin.css']) }}" type="text/css"/>
	{% endif %}
{% else %}
	{% if pagescreen is defined and manifest['screen.css']is defined %}
		<link rel="stylesheet" href="{{ asset('assets/'~manifest['screen.css']) }}" type="text/css"/>
	{% elseif manifest['front.css']is defined %}
		<link rel="stylesheet" href="{{ asset('assets/'~manifest['front.css']) }}" type="text/css"/>
	{% endif %}
{% endif %}
