{% from "MkkAdminBundle:Default:macro.html.twig" import uploadFile %}
<div class="row">
	<div class="col-sm-6">
		{{ form_row(formslideimage.fileimage) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(formslideimage.bgrepeat) }}
		{{ form_row(formslideimage.bgfit) }}
		{{ form_row(formslideimage.bgposition) }}
	</div>
</div>
