{% from "MkkAdminBundle:Default:macro.html.twig" import navbarform %}
{% set route = app.request.attributes.get('_route') %}
{% extends "MkkAdminBundle:User:layout.html.twig" %}
{% block body_contenu %}
	{{ form_start(form) }}
	{% set tabnav = [] %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Informations',
			'html': 'MkkAdminBundle:User:form/informations.html.twig'
		}
	]) %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Coordonnées',
			'html': 'MkkAdminBundle:User:form/coordonnees.html.twig'
		}
	]) %}
	{{ navbarform(md5,tabnav, form, param) }}
	{{ form_end(form) }}
{% endblock %}
