
{% extends "MkkAdminBundle:User:layout.html.twig" %}
{% from "MkkAdminBundle:User:macro.html.twig" import tbody %}
{% if supptab is not defined %}
	{% set supptab = {} %}
{% endif %}
{% set afficher = 0 %}
{% if paginator | length != 0 %}
	{% set personne = paginator[0] %}
	{% if personne.etablissements is defined %}
		{% set afficher = 1 %}
	{% endif %}
{% endif %}
{% if affichage_listinguser is not defined %}
	{% set affichage_listinguser = [] %}
{% endif %}
{% block body_contenu %}
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr>
				{% if etablissement is not defined %}
					<th>
						<input data-rel="allselect" type="checkbox"/>
					</th>
				{% endif %}
				<th>{{ "mkkadmin.user.listing.nom"|trans|capitalize }}</th>
				<th>{{ "mkkadmin.user.listing.login"|trans|capitalize }}</th>
				<th>{{ "mkkadmin.user.listing.groupe"|trans|capitalize }}</th>
				{% if afficher == 1 %}
					<th>{{ "mkkadmin.user.listing.etablissement"|trans|capitalize }}</th>
				{% endif %}
				{% for key in totalnb %}
					{% if key in affichage_listinguser %}
						<th>{% set mot = "mkkadmin.user.listing." ~ key %}{{ mot|trans|capitalize }}</th>
					{% endif %}
				{% endfor %}
				{% for key in totalsomme %}
					{% if key in affichage_listinguser %}
						<th>{% set mot = "mkkadmin.user.listing." ~ key %}{{ mot|trans|capitalize }}</th>
					{% endif %}
				{% endfor %}
				<th class="TextRight">{{ "mkkadmin.user.listing.connecte"|trans|capitalize }}</th>
				<th>{{ "mkkadmin.user.listing.actif"|trans|capitalize }}</th>
			</tr>
		</thead>
		<tbody>

			{% for entity in paginator %}
				{{ tbody(entity, afficher, totalnb, totalsomme, affichage_listinguser) }}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
