{% macro tbody(entity, afficher, totalnb, totalsomme, affichage_listinguser) %}
	<tr>
		<td>
			<input type="checkbox" name="selection[]" value="{{ entity.id }}"/>
		</td>
		<td>
			<a href="{{ path('beuser_form',{'id': entity.id }) }}">{{ entity.appel }}</a>
		</td>
		<td>
			{% if app.user.id != entity.id %}
				<a href="{{ path('beuser_connect',{'id': entity.id }) }}" class="btn btn-default btn-xs" title="Se connecter à sa place">
					<i class="glyphicon glyphicon-user glyphicon-white"></i>
				</a>
			{% endif %}
			{{ entity.username }}
		</td>
		<td>
			{{ entity.refgroup }}
		</td>
		{% if afficher == 1 %}
			<td>
				{% set responsables = [] %}
				{% if entity.responsables is defined %}
					{% if entity.responsables | length != 0 %}
						{% for etablissement in entity.responsables %}
							{% set id = etablissement.id %}
							{% set responsables = responsables | merge([id]) %}
						{% endfor %}
					{% endif %}
				{% endif %}
				{% if entity.etablissements | length != 0 %}
					{% for etablissement in entity.etablissements %}
						{% set id = etablissement.id %}
					{% endfor %}
					{% for etablissement in entity.etablissements %}
						{% if loop.first == false %}
							<br/>
						{% endif %}
						{{ etablissement }}
						{% if etablissement.id in responsables %}
							(responsable){% endif %}
					{% endfor %}
				{% endif %}
			</td>
		{% endif %}
		{% for key in totalnb %}
			{% if key in affichage_listinguser %}
				<td class="TextRight">{{ entity|getMethods(key) }}</td>
			{% endif %}
		{% endfor %}
		{% for key in totalsomme %}
			{% if key in affichage_listinguser %}
				<td class="TextRight">{{ entity|getMethods(key)|number_format(2, ',', ' ') }}&nbsp;€</td>
			{% endif %}
		{% endfor %}
		<td class="TextRight">
			{% if entity.lastLogin != null %}
				{{ entity.lastLogin|temps }}
			{% endif %}
		</td>
		<td>
			{{ entity.enabled|boolean }}
		</td>
	</tr>
{% endmacro %}
