{% from "MkkAdminBundle:Menu:macro.html.twig" import forminfo %}
<div class="row">
	<div class="col-md-6">
		{{ form_row(form['standard'].clef) }}
		{{ form_row(form['standard'].separateur) }}
	</div>
	<div class="col-md-6">
		{{ form_row(form['standard'].cible) }}
		{{ form_row(form['standard'].icon) }}
	</div>
</div>
{{ forminfo(form, param) }}
