<div class="row">
	<div class="col-sm-6">
		{{ form_row(form['standard'].filevignette) }}
		{{ form_row(form['standard'].copyright) }}
	</div>
	<div class="col-sm-6">
		{{ form_row(form['standard'].filegalerie) }}
	</div>
</div>
