<div class="row">
	<div class="col-md-6 col-sm-6">
		{{ form_widget(form['standard'].prixs) }}
	</div>
	<div class="col-md-6 col-sm-6">
		{{ form_widget(form['standard'].telephones) }}
	</div>
	<div class="col-md-6 col-sm-6">
		{{ form_widget(form['standard'].emails) }}
	</div>
	<div class="col-md-6 col-sm-6">
		{{ form_widget(form['standard'].liens) }}
	</div>
</div>
