{% extends "MkkAdminBundle:Noteinterne:layout.html.twig" %}
{% from "MkkAdminBundle:Noteinterne:macro.html.twig" import forminfo %}
{% from "MkkAdminBundle:Default:macro.html.twig" import navbarform %}
{% block body_contenu %}
	{{ form_start(form['standard']) }}
	{% set tabnav = [] %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Message',
			'html': 'MkkAdminBundle:Noteinterne:form/message.html.twig'
		}
	]) %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Quand',
			'html': 'MkkAdminBundle:Noteinterne:form/quand.html.twig'
		}
	]) %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Destinataire(s)',
			'html': 'MkkAdminBundle:Noteinterne:form/destinataire.html.twig'
		}
	]) %}
	{{ navbarform(md5,tabnav, form, param) }}
	{{ form_end(form['standard']) }}
{% endblock %}
