{% extends "MkkAdminBundle:Noteinterne:layout.html.twig" %}
{% from "MkkAdminBundle:Noteinterne:macro.html.twig" import tbody %}
{% block body_contenu %}
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                {thselection}
                <th>Nom du menu</th>
                <th>Période</th>
                <th >Publié</th>
            </tr>
        </thead>
        <tbody>
            {% for noteinterne in paginator %}
                {{ tbody(noteinterne) }}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
