{% extends "MkkAdminBundle:Default:langue.html.twig" %}
{% macro tbody(noteinterne) %}
	<tr>
		<td>
			<input type="checkbox" name="selection[]" value="{{ noteinterne.id }}"/>
		</td>
		<td>
			<a data-rel="modifier" href="{{ path('benoteinterne_form',{'id': noteinterne.id }) }}" title="Modifier">{{ noteinterne.titre }}</a>
		</td>
		<td>
			{% if noteinterne.datedebut == NULL and noteinterne.datefin == NULL %}
				Indéfinie
			{% elseif noteinterne.datedebut == NULL and noteinterne.datefin != NULL %}
				Jusqu'au
				{{ noteinterne.datefin|temps }}
			{% elseif noteinterne.datefin == NULL and noteinterne.datedebut != NULL %}
				À partir du
				{{ noteinterne.datedebut|temps }}
			{% else %}
				Du
				{{ noteinterne.datedebut|temps }}
				au
				{{ noteinterne.datefin|temps }}
			{% endif %}
		</td>
		<td>
			{{ noteinterne.publier|boolean }}
		</td>
	</tr>
{% endmacro %}
{% block forminfolangueNoteinterne %}
	{{ form_row(newform.titre) }}
	{{ form_row(newform.lien) }}
	{{ form_row(newform.contenu) }}
{% endblock %}
{% macro forminfo(setform, param) %}
	{% set fonction = 'forminfolangueNoteinterne' %}
	{{- block('langueform') -}}
{% endmacro %}
