{% extends "MkkAdminBundle:RevolutionSlider:Slide/layout.html.twig" %}
{% from "MkkSiteBundle:bootstrap3:macro.html.twig" import modalEnregistrertmpl %}
{% block modal %}
	{{ parent() }}
	{{ modalEnregistrertmpl(
        'ModalLayer',
        ''
    ) }}
{% endblock %}
{% block body_contenu %}
	{% if entity.id is null or entity.image == "" %}
		<div class="alert alert-info" role="alert">Pour pouvoir ajouter des éléments, vous devez d'abord importer une image et enregistrer.</div>
	{% endif %}
	<form id="FormSlide" onsubmit="return Slide.Enregistrer();" action="{{ path('berevolutionslider_json-slideform', {'slider': slider, 'id': id }) }}">
		<input type="submit"/>
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#informations" data-toggle="tab">Informations</a>
			</li>
			<li>
				<a href="#parametres" data-toggle="tab">Paramètres</a>
			</li>
			<li>
				<a href="#image" data-toggle="tab">Image</a>
			</li>
			{% if entity.image != "" %}
				<li>
					<a href="{{ path('berevolutionslider_slidelayers', {'id': entity.id}) }}">Layers</a>
				</li>
			{% endif %}
		</ul>
		<div class="tab-content">
			<div class="tab-pane active fade in" id="informations">
				{% include "MkkAdminBundle:RevolutionSlider:Slide/tmpl/form/informations.html.twig" %}
			</div>
			<div class="tab-pane fade" id="parametres">
				{% include "MkkAdminBundle:RevolutionSlider:Slide/tmpl/form/parametres.html.twig" %}
			</div>
			<div class="tab-pane fade" id="image">
				{% include "MkkAdminBundle:RevolutionSlider:Slide/tmpl/form/image.html.twig" %}
			</div>
		</div>
	</form>
{% endblock %}
