
{% extends "MkkAdminBundle:RevolutionSlider:Slide/layout.html.twig" %}
{% from "MkkSiteBundle:bootstrap3:macro.html.twig" import modalEnregistrertmpl %}
{% block modal %}
    {{ parent() }}
    {{ modalEnregistrertmpl(
        "ModalLayer",
        ''
    ) }}
{% endblock %}
{% block body_contenu %}
    <ul class="nav nav-tabs">
        <li>
            <a href="{{ path('berevolutionslider_slideform', {'slider': slider,'id': entity.id}) }}" data-url="#informations">Informations</a>
        </li>
        <li>
            <a href="{{ path('berevolutionslider_slideform', {'slider': slider,'id': entity.id}) }}" data-url="#parametres">Paramètres</a>
        </li>
        <li>
            <a href="{{ path('berevolutionslider_slideform', {'slider': slider,'id': entity.id}) }}" data-url="#image">Image</a>
        </li>
        <li class="active">
            <a href="#">Layers</a>
        </li>
    </ul>
    <div class="tab-content">
        {% set layers = entity.layers %}
        {% if layers|length > 2 %}
            <div class="alert alert-info" role="alert">Pour changer l'ordre des layers, déplacer les lignes du tableau.</div>
        {% endif %}
        <table class="table table-striped table-condensed table-hover table-sortable">
            <thead>
                <tr>
                    {thselection}
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                {% for key, layer in layers %}
                    <tr data-order="{{ key }}">
                        <td>
                            <input type="checkbox" name="selection[]" value="{{ key }}" />
                        </td>
                        <td>
                            <a onclick="return Slide.Layer.Text(this);" href="{{ path('berevolutionslider_slidelayertext', {'id': entity.id, 'order': key}) }}">{{ layer.nom }}</a>
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
