{% extends "MkkAdminBundle:Newsletter:layout.html.twig" %}
{% from "MkkAdminBundle:Newsletter:macro.html.twig" import tbody %}
{% block body_contenu %}
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in paginator %}
                {{ tbody(entity) }}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
