{% macro tbody(entity) %}
    <tr>
        <td>{{ entity.nom }}</td>
        <td>{{ entity.prenom }}</td>
        <td>
            {% if entity.emails|length %}
                {lienemail}{{ entity.emails.first.adresse }}{/lienemail}
            {% endif %}
        </td>
    </tr>
{% endmacro %}
