{% block headerenregistrer %}
    Enregistrer
{% endblock %}
{% block headersupprimer %}
    Supprimer
{% endblock %}
{% block headervider %}
    Vider
{% endblock %}
{% block headerexporter %}
    Exporter
{% endblock %}
{% block headerOuiNon %}
    Confirmer
{% endblock %}
{% block bodysupprimer %}
    &Ecirc;tes-vous sur de vouloir supprimer la s&eacute;lection ?
{% endblock %}
{% block bodyvider %}
    &Ecirc;tes-vous sur de vouloir vider la table ?
{% endblock %}
{% block bodyexporter %}
    &Ecirc;tes-vous sur de vouloir exporter la s&eacute;lection ?
{% endblock %}
{% block footerboutonOuiNon %}
    <a href="#" class="btn btn-default" data-dismiss="modal">
        <i class="glyphicon glyphicon-remove-circle"></i>
        <span>
            Non
        </span>
    </a>
    <a href="#" class="btn btn-default" data-rel="save">
        <i class="glyphicon glyphicon-ok-circle"></i>
        <span>
            Oui
        </span>
    </a>
{% endblock %}
{% block footerboutonEnregistrer %}
    <a href="#" class="btn btn-default" data-dismiss="modal">
        <i class="glyphicon glyphicon-remove"></i>
        <span>
            Annuler
        </span>
    </a>
    <a href="#" class="btn btn-default" data-rel="save">
        <i class="glyphicon glyphicon-floppy-saved"></i>
        <span>
            Enregistrer
        </span>
    </a>
{% endblock %}
{% block footerboutonOk %}
    <a href="#" class="btn btn-default" data-dismiss="modal">
        <i class="glyphicon glyphicon-remove"></i>
        <span>
            Ok
        </span>
    </a>
{% endblock %}
{% block footerboutonFermer %}
    <a href="#" class="btn btn-default" data-dismiss="modal">
        <i class="glyphicon glyphicon-remove"></i>
        <span>
            Fermer
        </span>
    </a>
{% endblock %}
{% block headeractiver %}
    Activer la sélection
{% endblock %}
{% block headerDupliquer %}
    Dupliquer la sélection
{% endblock %}
{% block bodyactiver %}
    &Ecirc;tes-vous sur de vouloir activer la s&eacute;lection ?
{% endblock %}
{% block bodyDupliquer %}
    &Ecirc;tes-vous sur de vouloir dupliquer la s&eacute;lection ?
{% endblock %}
{% block headerdesactiver %}
    Désactiver la sélection
{% endblock %}
{% block bodydesactiver %}
    &Ecirc;tes-vous sur de vouloir désactiver la s&eacute;lection ?
{% endblock %}
{% block bodytinymceletter %}
    Vous ne pouvez pas enregistrer car vous avez dépassé le nombre de caractères autorisés.
{% endblock %}
