{% from "MkkSiteBundle:bootstrap3:macro.html.twig" import modalOktmpl,
modalOuiNontmpl %}
{% use "MkkSiteBundle:bootstrap3:admin/blocks.html.twig" %}
{{ modalOuiNontmpl(
    "PopupParentMenu",
    block('headerOuiNon'),
    '&ecirc;tes-vous sur de vouloir ajouter un lien pour ce parent ?'
) }}
{% set route = app.request.attributes.get('_route') %}
{{ modalOuiNontmpl(
    "PopupSupprimer",
    block('headersupprimer'),
    block('bodysupprimer')
) }}
{{ modalOuiNontmpl(
    "PopupVider",
    block('headervider'),
    block('bodyvider')
) }}
{{ modalOuiNontmpl(
    "PopupDupliquer",
    block('headerDupliquer'),
    block('bodyDupliquer')
) }}
{{ modalOuiNontmpl(
    "PopupActiver",
    block('headeractiver'),
    block('bodyactiver')
) }}
{{ modalOuiNontmpl(
    "PopupDesactiver",
    block('headerdesactiver'),
    block('bodydesactiver')
) }}
{{ modalOuiNontmpl(
    "PopupExporter",
    block('headerexporter'),
    block('bodyexporter')
) }}
{{ modalOktmpl(
    "PopupTinymceLetter",
    "Information",
    block('bodytinymceletter')
) }}
