{% from "MkkAdminBundle:Default:macro.html.twig" import navbarform %}
{% extends "MkkAdminBundle:Etablissement:layout.html.twig" %}
{% from "MkkAdminBundle:Default:macro.html.twig" import formmetatag %}
{% from "MkkAdminBundle:Default:macro.html.twig" import uploadFile %}
{% from "MkkAdminBundle:Etablissement:macro.html.twig" import forminfoDescription %}
{% from "MkkSiteBundle:bootstrap3:macro.html.twig" import modalOuiNontmpl,
modalFermertmpl %}
{% block modal %}
	{{ parent() }}
	{{ modalOuiNontmpl(
        "PopupLiaisonSupprimer",
        "Supprimer la liaison utilisateur / établissements",
        "Êtes-vous sûr de vouloir supprimer la liaison utilisateur ?"
    ) }}
	{% if entity.id > 0 %}
		{{ modalFermertmpl(
            "EtablissementNbsalarie",
            "Avertissement",
            'Le nombre de salarié est invalide.'
        ) }}
	{% endif %}
{% endblock %}
{% block body_contenu %}
	{% set afffactures = 0 %}
	{% if param['etablissement_factures']is defined %}
		{% set afffactures = param['etablissement_factures'] %}
	{% endif %}
	{% set affmedia = 0 %}
	{% if param['etablissement_medialogo']is defined %}
		{% set affmedia = affmedia + param['etablissement_medialogo'] %}
	{% endif %}
	{% if param['etablissement_mediaimages']is defined %}
		{% set affmedia = affmedia + param['etablissement_mediaimages'] %}
	{% endif %}
	{% if param['etablissement_mediaphotoeninterieur']is defined %}
		{% set affmedia = affmedia + param['etablissement_mediaphotoeninterieur'] %}
	{% endif %}
	{% if param['etablissement_mediaphotoenexterieur']is defined %}
		{% set affmedia = affmedia + param['etablissement_mediaphotoenexterieur'] %}
	{% endif %}
	{% if param['etablissement_mediaphotoequipe']is defined %}
		{% set affmedia = affmedia + param['etablissement_mediaphotoequipe'] %}
	{% endif %}
	{% set url = "beetablissement_form" %}
	{% set data = {
		'id': id
	} %}

	{% if app.request.query.all['evenement']is defined %}
		{% set data = data | merge({'evenement': app.request.query.all['evenement']}) %}
	{% endif %}

	{% if app.request.query.all['etat']is defined %}
		{% set data = data | merge({'etat': app.request.query.all['etat']}) %}
	{% endif %}
	{% set url = path(url, data) %}
	{{ form_start(form['standard']) }}

	<input type="submit">
	{% set tabnav = [] %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Informations',
			'html': 'MkkAdminBundle:Etablissement:form/informations.html.twig'
		}
	]) %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Coordonnées',
			'html': 'MkkAdminBundle:Etablissement:form/coordonnees.html.twig'
		}
	]) %}
	{% if param['etablissement_horaire']is defined and param['etablissement_horaire'] == 1 %}
		{% set tabnav = tabnav | merge([
			{
				'titre': 'Horaires',
				'html': 'MkkAdminBundle:Etablissement:form/horaires.html.twig'
			}
		]) %}
	{% endif %}
	{% if affmedia != 0 %}
		{% set tabnav = tabnav | merge([
			{
				'type': 'media',
				'html': 'MkkAdminBundle:Etablissement:form/medias.html.twig'
			}
		]) %}
	{% endif %}
	{% if affmedia != 0 %}
		{% set tabnav = tabnav | merge([
			{
				'titre': 'Factures',
				'html': 'MkkAdminBundle:Etablissement:form/factures.html.twig'
			}
		]) %}
	{% endif %}
	{% set tabnav = tabnav | merge([
		{
			'type': 'seo',
			'html': 'MkkAdminBundle:Etablissement:form/seo.html.twig'
		}
	]) %}
	{% if id != 0 %}
		{% set tabnav = tabnav | merge([
			{
				'titre': 'Utilisateurs (' ~ entity.users | length ~ ')',
				'html': 'MkkAdminBundle:Etablissement:form/utilisateurs.html.twig'
			}
		]) %}
	{% endif %}
	{% if pagesform is defined %}
		{% for data in pagesform %}
			{% set tabnav = tabnav | merge([
				{
					'titre': data['nom'],
					'html': data['tmpl']
				}
			]) %}
		{% endfor %}
	{% endif %}
	{{ navbarform(md5,tabnav, form, param) }}
</form>
{% endblock %}
