{% extends "MkkAdminBundle:Etablissement:layout.html.twig" %}
{% from "MkkAdminBundle:Etablissement:macro.html.twig" import tbody %}
{% from "MkkSiteBundle:bootstrap3:macro.html.twig" import modalEnregistrertmpl %}
{% block modal %}
	{{ parent() }}
	{{ modalEnregistrertmpl(
        "PopupNewEtab",
        form_widget(formnewetab)
    ) }}
{% endblock %}
{% block body_contenu %}
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr>
				{thselection}
				<th>Nom</th>
				<th>Adresse</th>
				<th>Coordonn&eacute;es</th>
				{% if param['type_etablissement']is defined and param['type_etablissement'] | length >= 2 %}
					<th>Type</th>
				{% endif %}
				{% if param['etablissement_secteur']is defined and param['etablissement_secteur'] == 1 %}
					<th>Secteur d'activité</th>
					<th>Activité</th>
				{% endif %}
				<th>Liaison</th>
				<th>Responsable</th>
				<th style="text-align:right">Utilisateur(s)</th>
				<th>Actif</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in paginator %}
				{{ tbody(entity,param) }}
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
