{% extends "MkkAdminBundle:Default:langue.html.twig" %}
{% block formmetataglangueMetatags %}
	{{ form_row(newform.meta_titre) }}
	{{ form_row(newform.meta_description) }}
	{{ form_row(newform.meta_keywords) }}
{% endblock %}
{% macro formmetatag(setform, param) %}
	{% set fonction = 'formmetataglangueMetatags' %}
	{{- block('langueform') -}}
{% endmacro %}
{% block forminfoDescriptionlangueEtablissement %}
	{{ form_widget(newform.descriptionactivite) }}
{% endblock %}
{% macro forminfoDescription(setform, param) %}
	{% set fonction = 'forminfoDescriptionlangueEtablissement' %}
	{{- block('langueform') -}}
{% endmacro %}
{% macro fieldPosition(type, etablissements) %}
	<div class="col-md-4 col-sm-4">
		<fieldset>
			{% set tabs = etablissements[type.code] %}
			<legend>{{ type.code }}
				({{ tabs|length }})</legend>
			<ul class="sortable" data-rel="{{ type.code }}">
				{% for etablissement in tabs %}
					<li class="ui-state-default" data-rel="{{ etablissement.id }}">
						<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
						{{ etablissement.nom }}</li>
				{% endfor %}
			</ul>
		</fieldset>
	</div>
{% endmacro %}
{% macro tbody(entity, param) %}
	<tr>
		<td>
			<input type="checkbox" name="selection[]" value="{{ entity.id }}"/>
		</td>
		<td>
			<a href="{{ path('beetablissement_form',{'id': entity.id }) }}">
				{% if entity.vignette != "" %}
					<img class="col-md-2 col-sm-2" src="{{ asset(entity.vignette) }}">
					<br/>
				{% endif %}
				{% if entity.nom != "" %}
					{{ entity.nom|upper }}
				{% else %}
					PAS DE NOM
				{% endif %}
			</a>
		</td>
		<td>
			{% for adresse in entity.adresses %}
				<adress>
					{{ adresse.info|replace({"\n":"<br />"})|raw }}<br/>
					{{ adresse.cp }}
					{{ adresse.ville }}
				</adress>
			{% endfor %}
		</td>
		<td>
			{% for i, row in entity.coordonnees %}
				{% if i != 0 %}
					<br/>
				{% endif %}
				{% if row.chiffre is defined %}
					{lientel}{{ row.chiffre }}{/lientel}
				{% elseif row.nom is defined %}
					<a href="{{ row.adresse }}" target="new">{{ row.type }}</a>
				{% else %}
					{lienemail}{{ row.adresse }}{/lienemail}
				{% endif %}
			{% endfor %}
		</td>
		{% if param['type_etablissement'] is defined and param['type_etablissement']|length>=2%}
			<td>
				{% for val in param['type_etablissement'] %}
					{% if val['code'] == entity.type %}
						{{ val['nom'] }}
					{% endif %}
				{% endfor %}
			</td>
		{% endif %}
		{% if param['etablissement_secteur']is defined and param['etablissement_secteur'] == 1 %}
			<td>{{ entity.refnafsousclasse }}</td>
			<td>{{ entity.activite }}</td>
		{% endif %}
		<td>
			{% if entity.parent.nom is defined %}
				{{ entity.parent }}
			{% endif %}
		</td>
		<td>
			{% if entity.responsable is defined and entity.responsable is defined %}
				{{ entity.responsable }}
			{% endif %}
		</td>
		<td style="text-align:right">
			{{ entity.users|length }}
		</td>
		<td>
			{{ entity.actif|boolean }}
		</td>
	</tr>
{% endmacro %}
