{% extends "MkkAdminBundle:Etablissement:layout.html.twig" %}
{% from "MkkAdminBundle:Etablissement:macro.html.twig" import fieldPosition %}
{% block body_contenu %}
<div class="row">
    {% for type in type_etablissement %}
        {{ fieldPosition(type, etablissements) }}
    {% endfor %}
</div>
{% endblock %}
