{% extends "MkkAdminBundle:Tag:layout.html.twig" %}
{% from "MkkAdminBundle:Tag:macro.html.twig" import tbody %}
{% block body_contenu %}
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr>
				{thselection}
				<th{% if paginator.isSorted('t.nom') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(paginator, 'Nom', 't.nom') }}</th>
				<th{% if paginator.isSorted('t.alias') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(paginator, 'Alias', 't.alias') }}</th>
				<th class="TextRight{% if paginator.isSorted('t.totalnbblog') %} sorted{% endif %}">{{ knp_pagination_sortable(paginator, 'Nombre blogs', 't.totalnbblog') }}</th>
				<th class="TextRight{% if paginator.isSorted('t.totalnbbookmark') %} sorted{% endif %}">{{ knp_pagination_sortable(paginator, 'Nombre bookmarks', 't.totalnbbookmark') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for tag in paginator %}
				{{ tbody(tag) }}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
