{% macro tbody(tag) %}
	<tr>
		<td>
			<input type="checkbox" name="selection[]" value="{{ tag.id }}"/>
		</td>
		<td>
			<a data-rel="modifier" data-show="{{ path('bedata_show',{'entity': 'tag','id': tag.id})}}" href="{{ path('betag_json-edit',{'id': tag.id }) }}" title="Modifier">
				{{ tag.nom }}
			</a>
		</td>
		<td>
			{{ tag.alias }}
		</td>
		<td style="text-align:right">
			{{ tag.totalnbblog }}
		</td>
		<td style="text-align:right">
			{{ tag.totalnbbookmark }}
		</td>
	</tr>
{% endmacro %}
