{% from "MkkAdminBundle:Default:macro.html.twig" import navbarform %}
{% extends "MkkAdminBundle:Bookmark:layout.html.twig" %}
{% from "MkkAdminBundle:Default:macro.html.twig" import uploadFile %}
{% block body_contenu %}
	{{ form_start(form['standard']) }}
	{% set tabnav = [] %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Informations',
			'html': 'MkkAdminBundle:Bookmark:form/informations.html.twig'
		}
	]) %}
	{% set tabnav = tabnav | merge([
		{
			'type': 'media',
			'html': 'MkkAdminBundle:Bookmark:form/medias.html.twig'
		}
	]) %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Metatags',
			'html': 'MkkAdminBundle:Bookmark:form/metatags.html.twig'
		}
	]) %}
	{{ navbarform(md5,tabnav, form, param) }}
	{{ form_end(form['standard']) }}
{% endblock %}
