{% extends "MkkAdminBundle:Bookmark:layout.html.twig" %}
{% from "MkkAdminBundle:Bookmark:macro.html.twig" import tbody %}
{% block body_contenu %}
<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            {thselection}
            <th{% if paginator.isSorted('b.titre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginator, 'Titre', 'b.titre') }}</th>
            <th{% if paginator.isSorted('b.date') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginator, 'Date', 'b.date') }}</th>
            <th>Description</th>
            <th>Tags</th>
            <th>Lien</th>
        </tr>
    </thead>
    <tbody>
        {% for bookmark in paginator %}
            {{ tbody(bookmark) }}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
