{% extends "MkkAdminBundle:Default:langue.html.twig" %}
{% macro tbody(entity) %}
	<tr>
		<td>
			<input type="checkbox" name="selection[]" value="{{ entity.id }}"/>
		</td>
		<td>
			<a href="{{ path('bebookmark_form',{'id': entity.id }) }}">{{ entity.titre }}</a>
		</td>
		<td>
			{{ entity.date|day }}
		</td>
		<td>
			{{ entity.description|raw }}
		</td>
		<td>
			{% for tag in entity.tags %}
				{{ tag.nom }}
			{% endfor %}
		</td>
		<td>
			<a href="{{ entity.url  }}" target="_blank" class="btn btn-info btn-xs">
				<i class="glyphicon glyphicon-link"></i>
			</a>
		</td>
	</tr>
{% endmacro %}
{% block forminfoLangue %}
	<div class="row">
		<div class="col-sm-6">
			{{ form_row(newform.titre) }}
		</div>
		<div class="col-sm-6">
			{{ form_row(newform.alias) }}
		</div>
	</div>
	{{ form_row(newform.description) }}
{% endblock %}
{% macro forminfo(setform, param) %}
	{% set fonction = 'forminfoLangue' %}
	{{- block('langueform') -}}
{% endmacro %}
{% block formseoLangue %}
	{{ form_row(newform.meta_titre) }}
	{{ form_row(newform.meta_description) }}
	{{ form_row(newform.meta_keywords) }}
{% endblock %}
{% macro formseo(setform, param) %}
	{% set fonction = 'formseoLangue' %}
	{{- block('langueform') -}}
{% endmacro %}
