<div class="row">
	<div class="col-md-4">
		{{ form_row(form.filevignette) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.fileimage) }}
	</div>
	<div class="col-md-4">
		{{ form_row(form.filegalerie) }}
	</div>
</div>
{{ form_row(form.video) }}
