{% if modal_backdrop is not defined %}
	{% set modal_backdrop = 0 %}
{% endif %}
{% if modal_keyboard is not defined %}
	{% set modal_keyboard = 0 %}
{% endif %}
{% set attr = {
	'class': '"modal modal-gallery hide fade',
	'id': id,
	'tabindex': '-1'
} %}
{% if autoclose is defined %}
	{% set attr = attr | merge({'data-autoclose': 'false'}) %}
{% endif %}
{% if autofocus is defined %}
	{% set attr = attr | merge({'data-autofocus': 'false'}) %}
{% endif %}
{% if modal_backdrop == 1 %}
	{% set attr = attr | merge({'data-backdrop': 'static'}) %}
	{% if modal_keyboard == 1 %}
		{% set attr = attr | merge({'data-keyboard': 'false'}) %}
	{% endif %}
{% endif %}
{% set textdiv = "" %}
{% for b, a in attr %}
	{% if loop.index != 0 %}
		{% set textdiv = textdiv ~ ' ' %}
	{% endif %}
	{% set textdiv = textdiv ~ b ~ '="' ~ a ~ '"' %}
{% endfor %}

<div {{ textdiv|raw }}>
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>{{ header|raw }}</h3>
	</div>
	<div class="modal-body">
		<p>{{ body|raw }}</p>
	</div>
	<div class="modal-footer">
		<span class="ModalRequired">
			<span class="required"></span>Champs obligatoires</span>
		{{ footer|raw }}
	</div>
</div>
