<div class="FormAdresse" data-url="{{ path('script_cpville') }}">
    {% if gpsaffichage is defined %}
        <div class="row">
            <div class="col-sm-6">
            {% endif %}
            {% if type is defined %}
                {{ form_row(type) }}
            {% endif %}
            {% if info is defined %}
                {{ form_row(info) }}
            {% endif %}
            <div class="controls controls-row">
                {% if pays is defined %}
                    {{ form_row(pays) }}
                {% endif %}
                {{ form_row(cp) }}
                {{ form_row(ville) }}
            </div>
            {% if gpsaffichage is defined %}
            </div>
            <div class="col-sm-6">
                <div class="map_canvas" style="{# display:none;#}width:100%;height:280px;margin-bottom:5px;" data-cp="{{ cp.vars.id }}" data-ville="{{ ville.vars.id }}"{% if pays is defined %} data-pays="{{ pays.vars.id }}"{%endif %} data-gps="{{ gps.vars.id }}" data-info="{% if info is defined %}{{ info.vars.id }}{% endif %}"></div>
                {% if gps is defined %}
                    {{ form_row(gps) }}
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
<div style="clear:both"></div>
