{% trans_default_domain 'FOSUserBundle' %}
{% set buttonshare = 0 %}
{% set google_analytics = "" %}
{% set pagescreen = 1 %}
{% extends "MkkSiteBundle:bootstrap3:base.html.twig" %}
{% block meta %}
	{{ parent() }}
	<meta name="robots" content="noindex">
{% endblock %}
{% block body %}
	{{ parent() }}
	{% if param['login_videobackground']is defined and param['login_videobackground'] != "" %}
		<a
			class="player"
			data-property="{videoURL: '{{ param['login_videobackground'] }}', containment:'body', autoPlay:true, mute:{% if param['login_ideobackgroundmute'] is defined %}{{ param['login_ideobackgroundmute'] }}{% else %}true{% endif %}, startAt:0, opacity:1, ratio:'4/3', addRaster:true, showControls:true}">My video</a>
	{% endif %}
	<section>
		{% if param["image_logo"]is defined and param["image_logo"] != "" %}
			<div class="logo-login">
				<span>
					<img src="{{ asset('logo.png') }}" alt="logo"/>
				</span>
			</div>
		{% endif %}
		<div class="page-login{% if param[" image_logo"] is defined and param[" image_logo"] != " " %} page-login-logo{% endif %}">
			<h1>
				{% if param['login_titre']is defined and param['login_titre'] != "" %}
					{{ param['login_titre']|raw }}
				{% else %}
					Connexion
				{% endif %}
				<br/>
				{% if param['login_soustitre']is defined and param['login_soustitre'] != "" %}
					<span>{{ param['login_soustitre']|raw }}</span><br/>
				{% endif %}
			</h1>
			<form action="{{ path('user_login') }}">
				<blockquote style="text-align:left;">
					{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
				</blockquote>

				<button class="btn-default btn BtnLogin">
					Retour au formulaire de connexion
				</button>
			</form>
		</div>
	</section>
{% endblock %}
