{% set buttonshare = 0 %}
{% set google_analytics = "" %}
{% set pagescreen = 1 %}
{% extends "MkkSiteBundle:bootstrap3:base.html.twig" %}
{% block meta %}
	{{ parent() }}
	<meta name="robots" content="noindex">
{% endblock %}
{% block body %}
	{% if param['login_videobackground']is defined and param['login_videobackground'] != "" %}
		{% set mute = "true" %}
		{% if param['login_ideobackgroundmute']is defined %}
			{% set mute = param['login_ideobackgroundmute'] %}
		{% endif %}
		<a class="player" data-property="{videoURL: '{{ param['login_videobackground'] }}', containment:'body', autoPlay:true, mute:{{ mute }}, startAt:0, opacity:1, ratio:'4/3', addRaster:true, showControls:true}">My video</a>
	{% endif %}
	<section>
		{% if param["image_logo"]is defined and param["image_logo"] != "" and param['image_logo'] | isFile %}
			<div class="logo-login">
				<span>
					<img src="{{ asset(param['image_logo']) }}" alt="logo"/>
				</span>
			</div>
		{% endif %}
		<div class="page-login{% if param[" image_logo"] is defined and param[" image_logo"] != " " %} page-login-logo{% endif %}">
			<h1>
				{% if param['disabled_titre']is defined and param['disabled_titre'] != "" %}
					{{ param['disabled_titre']|raw }}
				{% else %}
					Désactivation du site
				{% endif %}
				<br/>
				{% if param['disabled_soustitre']is defined and param['disabled_soustitre'] != "" %}
					<span>{{ param['disabled_soustitre']|raw }}</span><br/>
				{% endif %}
			</h1>
			<blockquote>
				{{ html|raw }}
			</blockquote>
		</div>
	</section>
{% endblock %}
