{% set buttonshare = 0 %}
{% set google_analytics = "" %}
{% set pagescreen = 1 %}
{% extends "MkkSiteBundle:bootstrap3:base.html.twig" %}
{% block meta %}
	{{ parent() }}
	<meta name="robots" content="noindex">
{% endblock %}
{% block body %}
	{{ parent() }}
	{% if param['login_videobackground']is defined and param['login_videobackground'] != "" %}
		{% set mute = "true" %}
		{% if param['login_ideobackgroundmute']is defined %}
			{% set mute = param['login_ideobackgroundmute'] %}
		{% endif %}
		<a class="player" data-property="{videoURL: '{{ param['login_videobackground'] }}', containment:'body', autoPlay:true, mute:{{ mute }}, startAt:0, opacity:1, ratio:'4/3', addRaster:true, showControls:true}">My video</a>
	{% endif %}
	<section>
		{% if param["image_logo"]is defined and param["image_logo"] != "" and param['image_logo'] | isFile %}
			<div class="logo-login">
				<span>
					<img src="{{ asset(param['image_logo']) }}" alt="logo"/>
				</span>
			</div>
		{% endif %}
		{% for type, flash_messages in app.session.flashBag.all %}
			{% for flash_message in flash_messages %}
				<div class="alert alert-{{ type }}">
					<button class="close" data-dismiss="alert">×</button>
					{{ flash_message|trans }}
				</div>
			{% endfor %}
		{% endfor %}
		{% if error %}
			<div class="alert alert-login">
				<button class="close" data-dismiss="alert">×</button>
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}
		<div id="DivFormulaireLogin" class="page-login{% if param[" image_logo"] is defined and param[" image_logo"] != " " %} page-login-logo{% endif %}">
			<h1>
				{% if param['login_titre']is defined and param['login_titre'] != "" %}
					{{ param['login_titre']|raw }}
				{% else %}
					Connexion
				{% endif %}
				<br/>
				{% if param['login_soustitre']is defined and param['login_soustitre'] != "" %}
					<span>{{ param['login_soustitre']|raw }}</span><br/>
				{% endif %}
			</h1>
			{{ form_start( formLogin, { 'action': path("fos_user_security_check"), 'attr': { 'id': 'formLogin', 'role': 'form', 'class': 'form-horizontal' } } )}}
			<input type="submit"/>
			{{ form_row(formLogin._username) }}
			{{ form_row(formLogin._password) }}
			{{ form_row(formLogin._remember_me) }}
			<button class="btn BtnLogin">
				&nbsp;{% trans %}login.bouton.connexion{%endtrans %}
			</button>
			<br/>
			<a href="#" id="ShowForgot">J'ai perdu mon mot de passe</a>
			{{ form_end(formLogin,{'render_rest': false})}}
		</div>
		<div id="DivFormulaireForgot" class="page-login{% if param[" image_logo"] is defined and param[" image_logo"] != " " %} page-login-logo{% endif %}">
			<h1>
				{% if param['login_titre']is defined and param['login_titre'] != "" %}
					{{ param['login_titre']|raw }}
				{% else %}
					Connexion
				{% endif %}
				<br/>
				{% if param['login_soustitre']is defined and param['login_soustitre'] != "" %}
					<span>J'ai perdu mon mot de passe</span><br/>
				{% endif %}
			</h1>
			{{ form_start( formForgot, { 'action': path("fos_user_resetting_send_email"), 'attr': { 'id': 'formForgot', 'role': 'form', 'class': 'form-horizontal' } } ) }}
			<input type="submit"/>
			{{ form_row(formForgot.username) }}
			<button class="btn BtnForgot">
				J'ai perdu mon mot de passe
			</button>
			<br/>
			<a href="#" id="ShowLogin">Annuler</a>
			{{ form_end(formForgot,{'render_rest': false})}}
		</div>
		{% if html is defined %}
			<br/>
			{{ html|raw }}
		{% endif %}
	</section>
{% endblock %}
