<html>
    <head>
        <title>Javascript</title>
        <script type="text/javascript">
            var $buoop = {}
            $buoop.ol = window.onload;
            window.onload = function () {
                try {
                    if ($buoop.ol)
                        $buoop.ol();
                } catch (e) {
                }
                var e = document.createElement("script");
                e.setAttribute("type", "text/javascript");
                e.setAttribute("src", "http://browser-update.org/update.js");
                document.body.appendChild(e);
            }
        </script>
    </head>
    <body>
    <center>
        JavaScript doit &ecirc;tre activé pour utiliser ce site Internet. Il semble que ce langage soit désactivé ou qu'il ne soit pas pris en charge dans votre navigateur. Activez JavaScript en modifiant les options de votre navigateur et essayez de nouveau.
        <br />
        <br />
        <a href="{{ path('public_index') }}">Retour à la page d'accueil après correction</a>
    </center>
</body>
</html>