{% trans_default_domain 'FOSUserBundle' %}
{% set buttonshare = 0 %}
{% set google_analytics = "" %}
{% set pagescreen = 1 %}
{% extends "MkkSiteBundle:bootstrap3:base.html.twig" %}
{% block meta %}
	{{ parent() }}
	<meta name="robots" content="noindex">
{% endblock %}
{% block body %}
	{{ parent() }}
	{% if param['login_videobackground']is defined and param['login_videobackground'] != "" %}
		{% set mute = "true" %}
		{% if param['login_ideobackgroundmute']is defined %}
			{% set mute = param['login_ideobackgroundmute'] %}
		{% endif %}
		<a class="player" data-property="{videoURL: '{{ param['login_videobackground'] }}', containment:'body', autoPlay:true, mute:{{ mute }}, startAt:0, opacity:1, ratio:'4/3', addRaster:true, showControls:true}">My video</a>
	{% endif %}
	<section>
		{% if param["image_logo"]is defined and param["image_logo"] != "" and param['image_logo'] | isFile %}
			<div class="logo-login">
				<span>
					<img src="{{ asset(param['image_logo']) }}" alt="logo"/>
				</span>
			</div>
		{% endif %}
		{% for type, flash_messages in app.session.flashBag.all %}
			{% for flash_message in flash_messages %}
				<div class="alert alert-{{ type }}">
					<button class="close" data-dismiss="alert">×</button>
					{{ flash_message|trans }}
				</div>
			{% endfor %}
		{% endfor %}
		<div class="page-login{% if param[" image_logo"] is defined and param[" image_logo"] != " " %} page-login-logo{% endif %}">
			<h1>
				{% if param['login_titre']is defined and param['login_titre'] != "" %}
					{{ param['login_titre']|raw }}
				{% else %}
					Connexion
				{% endif %}
				<br/>
				<span>Changement de mot de passe</span><br/>
			</h1>
			{{ form_start( form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'role': 'form', 'class': 'form-horizontal' } } ) }}
			<input type="submit"/>
			{{ form_row(form.plainPassword['first']) }}
			{{ form_row(form.plainPassword['second']) }}
			<button class="btn BtnLogin">
				{{ 'resetting.reset.submit'|trans }}
			</button>
			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
