<ul>
    {% for row in listing %}
        <li>
            <a href="{{ path('blog_archivedate',{'date': row['traitement']}) }}">{{ row['datepublication']|temps|capitalize }}
                ({{ row['total'] }})</a>
        </li>
    {% endfor %}
</ul>
