<ul>
    {% for row in listing %}
        <li>
            <a href="{{ path('blog_article',{'alias': row[0].alias })}}">
                {{ row['datepublication']|temps|capitalize }}
                :
                {{ row[0].titre }}
            </a>
        </li>
    {% endfor %}
</ul>
