<div>
    <h2>
        <a href="{{ path('blog_article',{'alias': article.alias }) }}">
            {{ article.titre }}
        </a>
    </h2>
    <a href="{{ path('blog_categorieindex',{'categorie': article.refcategorie.alias}) }}">{{ article.refcategorie.nom }}</a>
    {% if article.tags|length!=0 %}
        |
        {% for tag in article.tags %}
        <a href="{{ path('blog_categorieindex',{'categorie': tag.alias }) }}">#{{ tag.nom }}</a>
        {% endfor %}
    {% endif %}
    {% if article.image!="" %}
        <a href="{{ path('blog_article',{'alias': article.alias })}}">
            <div class="ImgCoverListing" style="background-image: url({{ asset(article.image) }});"></div>
        </a>
    {% endif %}
    {{ article.intro|raw }}
    <div class="pull-right text-right">
        <a class="btn btn-default" href="{{ path('blog_article',{'alias': article.alias })}}">Lire la suite</a>
        <br />
        Posté par {{ article.refuser.appel }}, le <span data-date="{{ article.datepublication }}">{{ article.datepublication|temps }}</span>
    </div>
</div>
