{% extends "MkkPublicBundle:Blog:layout.html.twig" %}
{% block body_article %}
    <h2>Liste des archives</h2>
    {% if dateListing=="" %}
        {% include "MkkPublicBundle:Blog:page/archive-listing.html.twig" %}
    {% else %}
        {% include "MkkPublicBundle:Blog:page/archive-date.html.twig" %}
    {% endif %}
{% endblock %}
