{% extends "MkkPublicBundle:Blog:layout.html.twig" %}
{% block body_article %}
    <div>
        <h2>{{ article.titre }}
            {% if disqus_url is defined and disqus_url!="" and article.commentaire==true %}
                <div class="count-comments" data-disqus-url="{{ url('blog_article',{'alias': article.alias }) }}#disqus_thread"></div>
            {% endif %}
        </h2>
        <a href="{{ path('blog_categorieindex',{'categorie': article.refcategorie.alias}) }}">{{ article.refcategorie.nom }}</a>
        {% if article.tags|length!=0 %}
            |
            {% for tag in article.tags %}
            <a href="{{ path('blog_categorieindex',{'categorie': tag.alias }) }}">#{{ tag.nom }}</a>
            {% endfor %}
        {% endif %}
        {% if article.image!="" %}
            <div class="ImgCover" style="background-image: url({{ asset(article.image) }});"></div>
        {% endif %}
        {{ article.contenu|raw }}
        <div class="pull-right">
            Posté par {{ article.refuser.appel }}, le <span data-date="{{ article.datepublication }}">{{ article.datepublication|temps }}</span>
        </div>
    </div>
    {% if disqus_url is defined and disqus_url!="" and article.commentaire==true %}
        <div id="disqus_thread"></div>
    {% endif %}

{% endblock %}
