    {% for article in articles %}
        {% if loop.index!=1 %}
        <div style="clear:both">
            <br />
            <hr />
        </div>
        {% endif %}
        {% include "MkkPublicBundle:Blog:page/article.html.twig" %}
    {% endfor %}
