{% set buttonshare = 0 %}
{% set google_analytics = "" %}
{% set titresite = "An Error Occurred: "~status_text %}
{% extends "MkkSiteBundle:bootstrap3:base.html.twig" %}
{% block meta %}
    {{ parent() }}
    <meta name="robots" content="noindex">
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/mkkpublic/css/error.css') }}" type="text/css" />
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="page-error">
        <h1>Oops! An Error Occurred</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
        <div>
            Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.
        </div>
    </div>
{% endblock %}
