<div class="block">
    {% if count > 0 %}
        <h2>
            <span>
                <small>[{{ count - position + 1 }}/{{ count + 1 }}]</small>
            </span>
            {{ exception.class|abbr_class }}:
            {{ exception.message|nl2br|format_file_from_text }}&nbsp;
            <a href="#" onclick="toggle('traces-{{ position }}', 'traces'); switchIcons('icon-traces-{{ position }}-open', 'icon-traces-{{ position }}-close'); return false;">
                <img
                    class="toggle"
                    id="icon-traces-{{ position }}-close"
                    alt="-"
                    src="data:image/gif;base64,R0lGODlhEgASAMQSANft94TG57Hb8GS44ez1+mC24IvK6ePx+Wa44dXs92+942e54o3L6W2844/M6dnu+P/+/l614P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABIALAAAAAASABIAQAVCoCQBTBOd6Kk4gJhGBCTPxysJb44K0qD/ER/wlxjmisZkMqBEBW5NHrMZmVKvv9hMVsO+hE0EoNAstEYGxG9heIhCADs="
                    style="display: {{ 0 == count ? 'inline' : 'none' }}"/>
                <img
                    class="toggle"
                    id="icon-traces-{{ position }}-open"
                    alt="+"
                    src="data:image/gif;base64,R0lGODlhEgASAMQTANft99/v+Ga44bHb8ITG52S44dXs9+z1+uPx+YvK6WC24G+944/M6W28443L6dnu+Ge54v/+/l614P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABMALAAAAAASABIAQAVS4DQBTiOd6LkwgJgeUSzHSDoNaZ4PU6FLgYBA5/vFID/DbylRGiNIZu74I0h1hNsVxbNuUV4d9SsZM2EzWe1qThVzwWFOAFCQFa1RQq6DJB4iIQA7"
                    style="display: {{ 0 == count ? 'none' : 'inline' }}"/>
            </a>
        </h2>
    {% else %}
        <h2>Stack Trace</h2>
    {% endif %}

    <a id="traces-link-{{ position }}"></a>
    <ol class="traces list-exception" id="traces-{{ position }}" style="display: {{ 0 == count ? 'block' : 'none' }}">
        {% for i, trace in exception.trace %}
            <li>
                {% include '@Twig/Exception/trace.html.twig' with {'prefix': position, 'i': i, 'trace': trace}
                only %}
            </li>
        {% endfor %}
    </ol>
</div>
