<form id="FormCaption" action="{{ path('berevolutionslider_slidelayertext', {'id': slide.id, 'order': app.request.get('order')}) }}" onsubmit="return Slide.Layer.Enregistrer(this);">
	<input type="submit"/>
	{{ form_row(form.nom) }}
	{{ form_widget(form.texthtml) }}
	<div class="row">
		<div class="col-sm-4">
			{{ form_row(form.x) }}
		</div>
		<div class="col-sm-4">
			{{ form_row(form.y) }}
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<span class="input-group-addon">{{ form_label(form.start) }}</span>
				{{ form_widget(form.start) }}
				<span class="input-group-addon">ms</span>
			</div>
		</div>
		<div class="col-sm-4">
			{{ form_row(form.class) }}
		</div>
		<div class="col-sm-4">
			{{ form_row(form.whitespace) }}
		</div>
		<div class="col-sm-4">
			{{ form_row(form.color) }}
		</div>
		<div class="col-sm-4">
			{{ form_row(form.width) }}
		</div>
		<div class="col-sm-4">
			{{ form_row(form.transform_in) }}
		</div>
	</div>
	{{ form_end(form) }}
