{% extends "MkkAdminBundle:Menu:layout.html.twig" %}
{% from "MkkSiteBundle:bootstrap3:macro.html.twig" import modaltmpl %}
{% from "MkkAdminBundle:Menu:macro.html.twig" import tbody,
modalForm %}
{% block modal %}
    {{ parent() }}
    {{ modaltmpl(
        "PopupMenuMove",
        "Déplacer un menu",
        modalForm(),
        block('footerboutonEnregistrer')
    ) }}
{% endblock %}
{% block body_contenu %}
    <ul id="myTab" class="nav nav-tabs">
        {% for key, entity in data %}
            <li {% if key == 0 %} class="active" {% endif %}>
                <a href="#TableauMenu{{ key }}" data-toggle="tab">{{ entity.clef|capitalize }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% set parentid = 0 %}
        {% for key, entity in data %}
            {{ tbody(key, entity, groups, parentid) }}
        {% endfor %}
    </div>

{% endblock %}
