{% extends "MkkAdminBundle:Default:langue.html.twig" %}
{% macro modalForm() %}
	<form onsubmit="return false" action="#">
		<input type="submit"/>
		<div class="input-group">
			<span class="input-group-addon">
				<label for="deplacermenu">Menu</label>
			</span>
			<select id="deplacermenu"></select>
		</div>
	</form>
{% endmacro %}
{% macro patron(groups, entity, debut, clef, key) %}
	{% from "MkkAdminBundle:Menu:macro.html.twig" import patron %}
	<tr id="menu{{ entity.id }}">
		<td>
			<input type="checkbox" name="selection[]" value="{{ entity.id }}"/>
		</td>
		<td class="TextRight">{{ entity.id }}</td>
		<td>{{ entity.clef }}</td>
		<td style="text-align:center;">
			{% if clef == 0 %}
				{% if entity.position != 0 %}
					<a class="btn btn-success btn-xs" href="{{ path('bemenu_position',{'id': entity.id,'etat':'up'}) }}">
						<i class="glyphicon glyphicon-arrow-up glyphicon-white"></i>
					</a>
				{% endif %}
			{% endif %}
		</td>
		<td style="text-align:center;">
			{% if clef == 0 %}
				{% if entity.position != (entity.refmenu | length - 1) %}
					<a class="btn btn-success btn-xs" href="{{ path('bemenu_position',{'id': entity.id,'etat':'down'}) }}">
						<i class="glyphicon glyphicon-arrow-down glyphicon-white"></i>
					</a>
				{% endif %}

			{% endif %}
		</td>
		<td>
			{{ 	debut|raw }}
			{% if entity.separateur == 1 %}
				-----------------
			{% else %}
				{% if entity.url == "" and entity.child | length != 0 %}
					<b>
					{% endif %}
					{% if entity.image != "" %}
						<i class="{{ entity.image }}"></i>
					{% endif %}
					{{ entity.libelle|raw }}
					{% if entity.url == "" and entity.child | length != 0 %}
					</b>
				{% endif %}
			{% endif %}
			{% if entity.description != "" %}
				<br/>
				{{ entity.description|raw }}
			{% endif %}
		</td>
		{% for group in groups %}
			{% set continuer = 1 %}
			{% if (key == "menu" or key == "moncompte" or key == "menuleft")
				and group.code == "visiteur" %}
				{% set continuer = 0 %}
			{% endif %}
			{% if continuer == 1 %}
				<td style="text-align:center">
					{% if clef == 0 %}
						<span
							style="height: 20px; width: 32px; cursor:pointer;"
							id="menu{{ entity.id}}group{{ group.id }}"
							data-rel="{{ path('bemenu_json-droit',{'id': entity.id,'group': group.id }) }}"
							class="btn btn-{% set code = entity.refgroup|imgActifDesactif(group.id) %}{{ code }}"
							title="{{ group.nom }}">&nbsp;</span>
					{% endif %}
				</td>
			{% endif %}
		{% endfor %}
		<td style="text-align:center;">
			<a data-rel="modifier" href="{{ path('bemenu_form',{'id': entity.id }) }}" class="btn btn-primary btn-xs" title="Modifier">
				<i class="glyphicon glyphicon-pencil glyphicon-white"></i>
			</a>
			<a data-rel="ajouterparent" data-id="{{ entity.id}}" href="{{ path('bemenu_json-parent') }}" class="btn btn-success btn-xs AjouterParent" title="Ajouter un sous-menu">
				<i class="glyphicon glyphicon-plus glyphicon-white"></i>
			</a>
			<a data-rel="deplacer" data-id="{{ entity.id}}" href="{{ path('bemenu_json-menu') }}" class="btn btn-info btn-xs DeplacerMenu" title="Déplacer">
				<i class="glyphicon glyphicon-move glyphicon-white"></i>
			</a>
		</td>
	</tr>
	{% if entity.refmenu.id is defined %}
		{% set avantparent = entity.refmenu.id %}
	{% endif %}
	{% for menu in entity.menus %}
		{{ patron(groups, menu, '', 0, key) }}
	{% endfor %}
{% endmacro %}
{% macro tbody(key, entity, groups, parentid) %}
	{% from "MkkAdminBundle:Menu:macro.html.twig" import patron %}
	<div class="tab-pane fade{% if key == 0 %} in active{% endif %} TableauMenu" id="TableauMenu{{ key }}">
		<table class="table table-striped table-condensed table-hover" data-imginterdit="{{ asset('bundles/tvbdevispublic/led_com_rouge.gif') }}" data-imgautoriser="{{ asset('bundles/tvbdevispublic/led_com_verte.gif') }}">
			<thead>
				<tr>
					<th>
						<input data-rel="allselect" type="checkbox"/>
					</th>
					<th class="TextRight">ID</th>
					<th>Clef</th>
					<th style="text-align:center" colspan="2">Position</th>
					<th>Libell&eacute;</th>
					{% for group in groups %}
						{% set continuer = 1 %}
						{% if (entity.clef == "menu" or entity.clef == "moncompte" or entity.clef == "menuleft")
							and group.code == "visiteur" %}
							{% set continuer = 0 %}
						{% endif %}
						{% if continuer == 1 %}
							<th style="text-align:center;width:70px;" title="{{ group.nom }}">{{ group.code }}</th>
						{% endif %}
					{% endfor %}
					<th style="width:12%;text-align:center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{{ patron(groups, entity, '', 1, entity.clef) }}
			</tbody>
		</table>
	</div>
{% endmacro %}

{% block forminfolangueMenu %}
	<div class="row">
		<div class="col-md-6">
			{{ form_row(newform.libelle) }}
		</div>
		<div class="col-md-6">
			{{ form_row(newform.url) }}
		</div>
	</div>
	{{ form_row(newform.description) }}
{% endblock %}

{% macro forminfo(setform, param) %}
	{% set fonction = 'forminfolangueMenu' %}
	{{- block('langueform') -}}
{% endmacro %}
