{% extends "MkkAdminBundle:Bugs:layout.html.twig" %}
{% from "MkkAdminBundle:Bugs:macro.html.twig" import tbody,
formAjout %}
{% from "MkkSiteBundle:bootstrap3:macro.html.twig" import modaltmpl %}
{% block bodyaddbugs %}
    {{ formAjout(formbugs) }}
{% endblock %}
{% block footerbug %}
    <a data-dismiss="modal" class="btn btn-default" href="#">
        <i class="glyphicon glyphicon-remove"></i>
        <span>Fermer</span>
    </a>
    <a href="#" class="btn btn-default" data-rel="add">
        <i class="glyphicon glyphicon-plus"></i>
        Ajouter
    </a>
{% endblock %}
{% block modal %}
    {{ parent() }}
    {{ modaltmpl(
        "PopupAddBugs",
        "Ajouter une demande",
        block('bodyaddbugs'),
        block('footerbug')
    ) }}
{% endblock %}
{% block body_contenu %}
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Type de demande</th>
                <th>Statut</th>
                <th>Priorité</th>
                <th>Sujet</th>
                <th>Crée le</th>
                <th>Mis à jour le</th>
                <th>Fermée le</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issues %}
                {{ tbody(issue) }}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
