{% extends "MkkAdminBundle:Bugs:layout.html.twig" %}
{% from "MkkAdminBundle:Bugs:macro.html.twig" import tbody,formModif %}
{% from "MkkSiteBundle:bootstrap3:macro.html.twig" import modaltmpl %}
{% block bodyaddbugs %}
    {{ formModif(formbugs) }}
{% endblock %}
{% block footerbug %}
    <a data-dismiss="modal" class="btn btn-default" href="#">
        <i class="glyphicon glyphicon-remove"></i><span>Fermer</span>
    </a>
    <a href="#" class="btn btn-default" data-rel="add">
        <i class="glyphicon glyphicon-plus"></i> Enregistrer
    </a>
{% endblock %}
{% block modal %}
    {{ parent() }}
    {{ modaltmpl(
        "PopupModifBugs",
        "Modifier la demande",
        block('bodyaddbugs'),
        block('footerbug')
    ) }}
{% endblock %}
{% block body_contenu %}
<div style="max-width:1024px;">
    <div class="bg-info">
        <h2>{{ issue.subject }}</h2>
        Ajouté le {{ issue['created_on']|temps }} et mis à jour le {{ issue['updated_on']|temps }}
        <blockquote>
            {{ issue['description']|raw }}
        </blockquote>
        <div class="row">
            {% for i in 1..2 %}
                <div class="col-md-6 col-sm-6">
                    {% for ligne in dataligne[i] %}
                        {% if loop.first==false %}
                            <br />
                        {% endif %}
                        <b>{{ ligne['nom'] }}</b> : {{ ligne['value']|raw }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <h3>Historique</h3>
    {% for journal in issue['journals'] %}
        {% if loop.first==false %}
            <hr />
        {% endif %}
        Mis à jour par <b>{{ journal['user']['name'] }}</b> le  {{ journal['created_on']|temps }}
        <br />
        {% if journal['details']|length!=0 %}
            <ul>
                {% for detail in journal['details'] %}
                    {% if detail['property']=="attr" and detail['name']!="assigned_to_id"%}
                        <li>
                            {% if detail['name']=="status_id" %}
                                {% set old = detail['old_value'] %}
                                {% set new = detail['new_value'] %}
                                <b>Statut</b> changé de
                                {% if status[old] is defined %}
                                    {{ status[old] }}
                                {% else %}
                                    {{ old }}
                                {% endif %}
                                à
                                {% if status[new] is defined %}
                                    {{ status[new] }}
                                {% else %}
                                    {{ new }}
                                {% endif %}
                            {% elseif detail['name']=="tracker_id" %}
                                {% set old = detail['old_value'] %}
                                {% set new = detail['new_value'] %}
                                <b>Tracker</b> changé de
                                {% if trackers[old] is defined %}
                                    {{ trackers[old] }}
                                {% else %}
                                    {{ old }}
                                {% endif %}
                                à
                                {% if trackers[new] is defined %}
                                    {{ trackers[new] }}
                                {% else %}
                                    {{ new }}
                                {% endif %}
                            {% elseif detail['name']=="estimated_hours" %}
                                <b>Temps estimé</b> mis à {{ detail['new_value'] }}
                            {% elseif detail['name']=="done_ratio" %}
                                {% set old = detail['old_value'] %}
                                {% set new = detail['new_value'] %}
                                <b>% réalisé</b> changé de {{ old }} à {{ new }}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        {% if journal['notes']!="" %}
            <blockquote>
                {{ journal['notes']|raw }}
            </blockquote>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
