{% macro formModif(formbugs) %}
	<form onsubmit="return Bugs.Modifier.Enregistrer();" action="{{ path('bebugs_modif',{'id': issue['id']}) }}" method="POST" id="FormModifierBugs">
		<input type="submit"/>
		{{ form_widget(formbugs) }}
		{{ form_end(formbugs) }}
	{% endmacro %}
	{% macro formAjout(formbugs) %}
		<form onsubmit="return Bugs.Ajouter.Enregistrer();" action="{{ path('bebugs_create') }}" method="POST" id="FormAddBugs" data-users="{{ path('bebugs_searchuser') }}">
			<input type="submit"/>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					{{ form_row(formbugs.tracker) }}
				</div>
				<div class="col-md-6 col-sm-6">
					{{ form_row(formbugs.priorite) }}
				</div>
			</div>
			{{ form_row(formbugs.sujet) }}
			{{ form_row(formbugs.description) }}
			<br/>
			{{ form_row(formbugs.url) }}
			{{ form_row(formbugs.pour) }}
			{{ form_end(formbugs) }}
		{% endmacro %}
		{% macro tbody(issue) %}
			<tr>
				<td>
					#{{ issue['id'] }}
				</td>
				<td>
					{{ issue['tracker']['name'] }}
				</td>
				<td>
					{{ issue['status']['name'] }}
				</td>
				<td>
					{{ issue['priority']['name'] }}
				</td>
				<td>
					<a href="{{ path('bebugs_issue',{'id': issue['id']}) }}">{{ issue['subject'] }}</a>
				</td>
				<td>
					{{ issue['created_on']|temps }}
				</td>
				<td>
					{{ issue['updated_on']|temps }}
				</td>
				<td>
					{% if issue['closed_on']is defined %}
						{{ issue['closed_on']|temps }}
					{% endif %}
				</td>
			</tr>
		{% endmacro %}
