{% from "MkkAdminBundle:Default:macro.html.twig" import navbarform %}
{% extends "MkkAdminBundle:Blog:layout.html.twig" %}
{% from "MkkAdminBundle:Default:macro.html.twig" import uploadFile %}
{% block body_contenu %}
	{{ form_start(form) }}
	{% set tabnav = [] %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Informations',
			'html': 'MkkAdminBundle:Blog:form/informations.html.twig'
		}
	]) %}
	{% set tabnav = tabnav | merge([
		{
			'type': 'media',
			'html': 'MkkAdminBundle:Blog:form/media.html.twig'
		}
	]) %}
	{% set tabnav = tabnav | merge([
		{
			'type': 'seo',
			'html': 'MkkAdminBundle:Blog:form/metatags.html.twig'
		}
	]) %}
	{{ navbarform(md5,tabnav, form, param) }}
	{{ form_end(form) }}
{% endblock %}
