{% extends "MkkAdminBundle:Blog:layout.html.twig" %}
{% from "MkkAdminBundle:Blog:macro.html.twig" import tbody %}
{% from "MkkSiteBundle:bootstrap3:macro.html.twig" import modalOuiNontmpl %}
{% block modal %}
    {{ parent() }}
    {{ modalOuiNontmpl(
        "PopupActiverAvant",
        "Mettre en avant",
        "Êtes-vous sûr de vouloir mettre l'article en avant ?"
    ) }}
    {{ modalOuiNontmpl(
        "PopupDesactiverAvant",
        "Désactiver la mise en avant",
        "Êtes-vous sûr de vouloir désactiver la mise en avant de l'article ?"
    ) }}
    {{ modalOuiNontmpl(
        "PopupActiverAccueil",
        "Mettre à l'accueil",
        "Êtes-vous sûr de vouloir mettre l'article à l'accueil ?"
    ) }}
    {{ modalOuiNontmpl(
        "PopupDesactiverAccueil",
        "Désactiver la mise en avant",
        "Êtes-vous sûr de vouloir désactiver l'article à l'accueil ?"
    ) }}
{% endblock %}
{% block body_contenu %}
{% set blogmettre_avant = 0 %}
{% if param['blogmettre_avant'] is defined %}
    {% set blogmettre_avant = param['blogmettre_avant'] %}
{% endif %}
{% set blogmettre_accueil = 0 %}
{% if param['blogmettre_accueil'] is defined %}
    {% set blogmettre_accueil = param['blogmettre_accueil'] %}
{% endif %}
<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            {thselection}
            <th>Titre</th>
            {% if categories>=2 %}
            <th>Catégorie</th>
            {% endif %}
            <th>Date modification</th>
            <th>Date publication</th>
            <th>Langue</th>
            {% if routessites['blog_article'] is defined %}
            <th>Voir sur le site public</th>
            {% endif %}
            <th style="text-align:center;">Actif</th>
            {% if blogmettre_avant==1 %}
                <th style="text-align:center;">Mettre en avant</th>
            {% endif %}
            {% if blogmettre_accueil==1 %}
            <th style="text-align:center;">Mettre à l'accueil</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for entity in paginator %}
            {{ tbody(
                entity,
                categories,
                language,
                blogmettre_avant,
                blogmettre_accueil,
                routessites
            ) }}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
