{% macro tbody(entity, categories, language, blogmettre_avant, blogmettre_accueil, routessites) %}
	<tr>
		<td>
			<input type="checkbox" name="selection[]" value="{{ entity.id }}"/>
		</td>
		<td>
			<a href="{{ path('beblog_form',{'id': entity.id }) }}">{{ entity.titre }}</a>
		</td>
		{% if categories >= 2 %}
			<td>{{ entity.refcategorie.nom }}</td>
		{% endif %}
		<td>{{ entity.datemodif|temps }}</td>
		<td>
			{{ entity.datepublication|temps }}
		</td>
		<td>
			{% if entity.langue != "" %}
				{{ language[entity.langue] }}
			{% endif %}
		</td>
		{% if routessites['blog_article']is defined %}
			<td>
				{#<a href="{{ path("blog_article",{'aliastype': entity.refcategorie.alias, 'aliasarticle': entity.alias}) }}" target="_blank">Voir</a>#}
			</td>
		{% endif %}
		<td style="text-align:center;">
			{{ entity.actifpublic|boolean }}
		</td>
		{% if blogmettre_avant == 1 %}
			<td style="text-align:center">
				<a
					href="{{ path('beblog_json-avant',{'id': entity.id}) }}"
					class="IconAvant btn btn-default btn-sm"
					data-icondesactiver="glyphicon glyphicon-star-empty"
					data-iconactiver="glyphicon glyphicon-star-empty"
					data-textdesactiver="Désactiver la mise en avant"
					data-textactiver="Mettre en avant"
					data-avant="{{ entity.avant }}">
					<span class="glyphicon glyphicon-star{% if entity.avant==0 %}-empty{% endif %}"></span>
				</a>
			</td>
		{% endif %}
		{% if blogmettre_accueil == 1 %}
			<td style="text-align:center">
				<a
					href="{{ path('beblog_accueil',{'id': entity.id}) }}"
					class="IconAccueil btn btn-default btn-sm"
					data-icondesactiver="glyphicon glyphicon-star-empty"
					data-iconactiver="glyphicon glyphicon-star-empty"
					data-textdesactiver="Désactiver cet article à l'accueil"
					data-textactiver="Mettre cet article à l'accueil"
					data-accueil="{{ entity.accueil }}">
					<span class="glyphicon glyphicon-star{% if entity.accueil==0 %}-empty{% endif %}"></span>
				</a>
			</td>
		{% endif %}
	</tr>
{% endmacro %}
