{% extends "MkkAdminBundle:Categorie:layout.html.twig" %}
{% from "MkkAdminBundle:Default:macro.html.twig" import navbarform %}
{% block body_contenu %}
	{{ form_start(form['standard']) }}
	{% set tabnav = [] %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Informations',
			'html': 'MkkAdminBundle:Categorie:form/informations.html.twig'
		}
	]) %}
	{% set tabnav = tabnav | merge([
		{
			'type': 'seo',
			'html': 'MkkAdminBundle:Categorie:form/seo.html.twig'
		}
	]) %}
	{{ navbarform(md5,tabnav, form, param) }}
	{{ form_end(form['standard']) }}
{% endblock %}
