{% extends "MkkAdminBundle:Categorie:layout.html.twig" %}
{% from "MkkAdminBundle:Categorie:macro.html.twig" import tbody %}
{% block body_contenu %}
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<th>
					<input data-rel="allselect" type="checkbox"/>
				</th>
				<th{% if paginator.isSorted('c.nom') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(paginator, 'Nom', 'c.nom') }}</th>
				<th{% if paginator.isSorted('c.alias') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(paginator, 'Alias', 'c.alias') }}</th>
				{% if module == "beblog" %}
					<th class="TextRight{% if paginator.isSorted('c.totalnbblog') %} sorted{% endif %}">{{ knp_pagination_sortable(paginator, "Nombre d'articles", 'c.totalnbblog') }}</th>
				{% elseif module == "bepartenaire" %}
					<th class="TextRight{% if paginator.isSorted('c.totalnbpartenaire') %} sorted{% endif %}">{{ knp_pagination_sortable(paginator, 'Total partenaires', 'c.totalnbpartenaire') }}</th>
				{% elseif module == "beevenement" %}
					<th class="TextRight{% if paginator.isSorted('c.totalneevenement') %} sorted{% endif %}">{{ knp_pagination_sortable(paginator, "Nombre d'evenements", 'c.totalnbevenement') }}</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for categorie in paginator %}
				{{ tbody(translations,categorie, module) }}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
