{% extends "MkkAdminBundle:Default:langue.html.twig" %}
{% macro tbody(translations, categorie, module) %}
	{% set translates = categorie | findTranslations(translations) %}
	<tr>
		<td>
			<input type="checkbox" name="selection[]" value="{{ categorie.id }}"/>
		</td>
		<td>
			<a href="{{ path('beblog_categorieform',{'id': categorie.id }) }}" title="Modifier">
				{{ categorie.nom }}
				{% for row in translates %}
					<br/>
					{{ row.nom }}
				{% endfor %}
			</a>
		</td>
		<td>
			{{ categorie.alias }}
			{% for row in translates %}
				<br/>
				{{ row.alias }}
			{% endfor %}
		</td>
		{% if module == "beblog" %}
			<td style="text-align:right">{{ categorie.totalnbblog|number_format(0, ',', ' ') }}</td>
		{% elseif module == "bepartenaire" %}
			<td style="text-align:right">{{ categorie.totalnbpartenaire|number_format(0, ',', ' ') }}</td>
		{% elseif module == "beevenement" %}
			<td style="text-align:right">{{ categorie.totalnbevenement|number_format(0, ',', ' ') }}</td>
		{% endif %}
	</tr>
{% endmacro %}
{% block modalBodyEnregistrerInformationLanguageCategorie %}
	{{ form_row(newform.nom) }}
	{{ form_row(newform.alias) }}
{% endblock %}
{% macro forminfo(setform, param) %}
	{% set fonction = 'modalBodyEnregistrerInformationLanguageCategorie' %}
	{{- block('langueform') -}}
{% endmacro %}
{% block modalBodyEnregistrerMetatagsLanguageCategorie %}
	{{ form_row(newform.meta_titre) }}
	{{ form_row(newform.meta_description) }}
	{{ form_row(newform.meta_keywords) }}
{% endblock %}
{% macro formseo(setform, param) %}
	{% set fonction = 'modalBodyEnregistrerMetatagsLanguageCategorie' %}
	{{- block('langueform') -}}
{% endmacro %}
