<fieldset>
    <legend>{{ nom }}
        <a href="#" class="btn btn-default btn-xs" onclick="return Param.Tags.Ajouter(this);"><i class="glyphicon glyphicon-plus"></i><span>Ajouter</span></a>
    </legend>
    {% if description is defined %}
        {{ description|raw }}
    {% endif %}
    <table id="TabVariable" class="table table-striped table-bordered table-condensed TabCoordonnees NOCache">
        <tbody>
            {% for row in database %}
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon input-group-addon-select2">
                                <input class="form-control" placeholder="code" type="text" name="{{ name }}[code][]" value="{{ row['code'] }}" />
                            </span>
                                <input class="form-control" placeholder="nom" type="text" name="{{ name }}[nom][]" value="{{ row['nom'] }}" />
                            <div class="input-group-addon">
                                <div onclick="Param.Tags.Supprimer(this);" class="btn btn-danger btn-xs" data-rel="supprimer" title="Supprimer"><i class="glyphicon glyphicon-remove glyphicon-white"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon input-group-addon-select2">
                            <input class="form-control" placeholder="code" type="text" name="{{ name }}[code][]" value="" />
                        </span>
                            <input class="form-control" placeholder="nom" type="text" name="{{ name }}[nom][]" value="" />
                        <div class="input-group-addon">
                            <div onclick="Param.Tags.Supprimer(this);" class="btn btn-danger btn-xs" data-rel="supprimer" title="Supprimer"><i class="glyphicon glyphicon-remove glyphicon-white"></i></div>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</fieldset>
