<div class="row">
    <div class="col-md-2 col-sm-2">
        <ul class="nav nav-tabs nav-stacked">
            {% for code,configform in formconfig %}
                <li{% if loop.first %} class="active"{% endif %}>
                    {% set transcode = "param.module."~code %}
                    <a href="#tabs-module{{ code }}" data-toggle="tab">{{ transcode|trans|capitalize }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-10 col-sm-10">
        <div class="tab-content">
            {% for code,configform in formconfig %}
                <div class="tab-pane fade{% if loop.first %} in active{% endif %}" id="tabs-module{{ code }}">
                    {% if formconfigtwig[code] is defined %}
                        {% include formconfigtwig[code] with {'form': configform} %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
