<fieldset>
    <legend>{{ nom }}
        <a href="#" class="btn btn-default btn-xs" onclick="return Param.Tags.Ajouter(this);"><i class="glyphicon glyphicon-plus"></i><span>Ajouter</span></a>
    </legend>
    <table id="TabVariable" class="table table-striped table-bordered table-condensed TabCoordonnees NOCache">
        <tbody>
            {% for tag in datatags %}
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon input-group-addon-select2">
                                <input class="form-control" type="text" name="{{ name }}[]" value="{{ tag }}" />
                            </span>
                            <div class="input-group-addon">
                                <div onclick="Param.Tags.Supprimer(this);" class="btn btn-danger btn-xs" data-rel="supprimer" title="Supprimer"><i class="glyphicon glyphicon-remove glyphicon-white"></i></div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon input-group-addon-select2">
                            <input class="form-control" type="text" name="{{ name }}[]" value="" />
                        </span>
                        <div class="input-group-addon">
                            <div onclick="Param.Tags.Supprimer(this);" class="btn btn-danger btn-xs" data-rel="supprimer" title="Supprimer"><i class="glyphicon glyphicon-remove glyphicon-white"></i></div>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</fieldset>