{% from "MkkAdminBundle:Default:macro.html.twig" import navbarform %}
{% extends "MkkAdminBundle:Templates:layout.html.twig" %}
{% from "MkkAdminBundle:Templates:macro.html.twig" import forminfo %}
{% block body_contenu %}
	{{ form_start(form['standard']) }}
	{% for row in form %}
		{{ form_errors(row) }}
	{% endfor %}
	{% set tabnav = [] %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Informations',
			'html': 'MkkAdminBundle:Templates:form/informations.html.twig'
		}
	]) %}
	{{ navbarform(md5,tabnav, form, param) }}
	{{ form_end(form['standard']) }}
{% endblock %}
