{% extends "MkkAdminBundle:Templates:layout.html.twig" %}
{% from "MkkAdminBundle:Templates:macro.html.twig" import tbody %}
{% block body_contenu %}
<table id="TableauTemplates" class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            {thselection}
            <th{% if paginator.isSorted('t.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginator, 'Nom', 't.nom') }}</th>
            <th{% if paginator.isSorted('t.code') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginator, 'Code', 't.code') }}</th>
            <th{% if paginator.isSorted('t.type') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginator, 'Type', 't.type') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for templates in paginator %}
            {{ tbody(templates) }}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
