{% extends "MkkAdminBundle:Default:langue.html.twig" %}
{% macro tbody(templates) %}
	<tr>
		<td>
			<input type="checkbox" name="selection[]" value="{{ templates.id }}"/>
		</td>
		<td>
			<a href="{{ path('betemplates_form',{'id': templates.id }) }}" title="Modifier">
				{{ templates.nom }}
			</a>
		</td>
		<td>{{ templates.code }}</td>
		<td>{{ templates.type }}</td>
	</tr>
{% endmacro %}
{% block forminfolangueTemplates %}
	{{ form_row(newform.nom) }}
	{{ form_row(newform.content) }}
{% endblock %}
{% macro forminfo(setform, param) %}
	{% set fonction = 'forminfolangueTemplates' %}
	{{- block('langueform') -}}
{% endmacro %}
