{% if code == 1 %}
	{% set btn = "success" %}
	{% set glyphicon = 'ok' %}
{% else %}
	{% set btn = "danger" %}
	{% set glyphicon = 'remove' %}
{% endif %}
<span class="btn btn-xs btn-{{ btn }}">
	{{ ("bool"~code)|trans }}
	<i class="glyphicon glyphicon-{{ glyphicon }}"></i>
</span>
