<div class="row">
    <div class="col-sm-6">
        {{ form_row(formslider.titre) }}
    </div>
    <div class="col-sm-6">
        {% if app.user.refgroup.code == "superadmin" %}
            {{ form_row(formslider.code) }}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        {{ form_row(formslider.langue) }}
    </div>
</div>
