<h4>{{ form_row(formsliderparam.navigation.arrows.enable) }}</h4>
<div class="row">
    <div class="col-sm-4">
        {{ form_row(formsliderparam.navigation.arrows.hide_onmobile) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(formsliderparam.navigation.arrows.hide_onleave) }}
    </div>
</div>
<hr />
<h4>{{ form_row(formsliderparam.navigation.bullets.enable) }}</h4>
<div class="row">
    <div class="col-sm-4">
        {{ form_row(formsliderparam.navigation.bullets.hide_onmobile) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(formsliderparam.navigation.bullets.hide_onleave) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(formsliderparam.navigation.bullets.direction) }}
    </div>
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">{{ form_label(formsliderparam.navigation.bullets.space) }}</span>
            {{ form_widget(formsliderparam.navigation.bullets.space) }}
            <span class="input-group-addon">px</span>
        </div>
    </div>
    <div class="col-sm-4">
        {{ form_row(formsliderparam.navigation.bullets.h_align) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(formsliderparam.navigation.bullets.v_align) }}
    </div>
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">{{ form_label(formsliderparam.navigation.bullets.h_offset) }}</span>
            {{ form_widget(formsliderparam.navigation.bullets.h_offset) }}
            <span class="input-group-addon">px</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">{{ form_label(formsliderparam.navigation.bullets.v_offset) }}</span>
            {{ form_widget(formsliderparam.navigation.bullets.v_offset) }}
            <span class="input-group-addon">px</span>
        </div>
    </div>
    <div class="col-sm-4">
        {{ form_row(formsliderparam.navigation.bullets.style) }}
    </div>
</div>
