<div class="row">
    <div class="col-sm-4">
        {{ form_row(formsliderparam.sliderType) }}
    </div>
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">{{ form_label(formsliderparam.gridwidth) }}</span>
            {{ form_widget(formsliderparam.gridwidth) }}
            <span class="input-group-addon">px</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">{{ form_label(formsliderparam.gridheight) }}</span>
            {{ form_widget(formsliderparam.gridheight) }}
            <span class="input-group-addon">px</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">{{ form_label(formsliderparam.delay) }}</span>
            {{ form_widget(formsliderparam.delay) }}
            <span class="input-group-addon">ms</span>
        </div>
    </div>
</div>
<hr/>
<div id="disposition-auto" class="general-disposition">
    <h4>{{ form_widget(formsliderparam.sliderLayout[0]) }}
        {{ formsliderparam.sliderLayout[0].vars.label }}</h4>
</div>
<hr/>
<div id="disposition-fullwidth" class="general-disposition">
    <h4>{{ form_widget(formsliderparam.sliderLayout[1]) }}
        {{ formsliderparam.sliderLayout[1].vars.label }}</h4>
</div>
<hr/>
<div id="disposition-fullscreen" class="general-disposition">
    <h4>{{ form_widget(formsliderparam.sliderLayout[2]) }}
        {{ formsliderparam.sliderLayout[2].vars.label }}</h4><br/>
    <div class="row">
        <div class="col-sm-4">{{ form_row(formsliderparam.fullScreenOffsetContainer) }}</div>
    </div>
</div>
