{% extends "MkkAdminBundle:Group:layout.html.twig" %}
{% from "MkkAdminBundle:Group:macro.html.twig" import tbody %}
{% block body_contenu %}
	<table id="TabGroup" class="table table-striped table-condensed table-hover">
		<thead>
			<tr>
				{thselection}
				<th{% if paginator.isSorted('gr.code') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(paginator, "mkkadmin.group.list.code"|trans|capitalize, 'gr.code') }}</th>
				<th{% if paginator.isSorted('gr.nom') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(paginator, "mkkadmin.group.list.nom"|trans|capitalize, 'gr.nom') }}</th>
				<th class="TextRight{% if paginator.isSorted('gr.totalnbuser') %} sorted{% endif %}">{{ knp_pagination_sortable(paginator, "mkkadmin.group.list.nbruser"|trans|capitalize, 'gr.totalnbuser') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in paginator %}
				{{ tbody(entity, translations) }}
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
