{% extends "MkkAdminBundle:Default:langue.html.twig" %}
{% block forminfolangueGroup %}
	{{ form_row(newform.nom) }}
{% endblock %}
{% macro forminfo(setform, param) %}
	{% set fonction = 'forminfolangueGroup' %}
	{{- block('langueform') -}}
{% endmacro %}
{% macro tbody(entity, translations) %}
	{% set translates = entity | findTranslations(translations) %}
	<tr data-rel="list">
		<td>
			<input type="checkbox" name="selection[]" value="{{ entity.id }}"/>
		</td>
		<td>{{ entity.code }}</td>
		<td>
			<a href="{{ path('begroup_form', {id: entity.id })}}">
				{{ entity.nom }}
				{% for row in translates %}
					<br/>
					{{ row.nom }}
				{% endfor %}
			</a>
		</td>
		<td class="TextRight">
			<a href="{{ path('beuser_index',{'refgroup': entity.id }) }}">
				{{ entity.totalnbuser }}
			</a>
		</td>
	</tr>
{% endmacro %}
