{% extends "MkkAdminBundle:Mailer:layout.html.twig" %}
{% from "MkkAdminBundle:Mailer:macro.html.twig" import tbody %}
{% block body_contenu %}
<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            {thselection}
            <th{% if paginator.isSorted('b.subject') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginator, 'Titre', 'b.subject') }}</th>
            <th>From</th>
            <th>To</th>
            <th>Reply</th>
            <th>CC</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for bookmark in paginator %}
            {{ tbody(bookmark) }}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
