{% macro tbody(entity) %}
    <tr>
        <td>
            <input type="checkbox" name="selection[]" value="{{ entity.id }}"/>
        </td>
        <td>
            {% if entity.fichiers | length != 0 %}
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            {% endif %}
            <a href="{{ path('bemailer_show',{'id': entity.id }) }}">{{ entity.subject }}</a>
        </td>
        <td>
            {lienemail}{{ entity.from }}{/lienemail}
        </td>
        <td>
            {lienemail}{{ entity.to }}{/lienemail}
        </td>
        <td>
            {% if entity.reply != "" %}
                {lienemail}{{ entity.reply }}{/lienemail}
            {% endif %}
        </td>
        <td>
            {% for c in entity.cc %}
                {% if loop.first %}
                    <br/>
                {% endif %}
                {lienemail}{{ c }}{/lienemail}
            {% endfor %}
        </td>
        <td>
            {{ entity.dateEnregistrement|temps }}
        </td>
    </tr>
{% endmacro %}
