
{% extends "MkkAdminBundle:Mailer:layout.html.twig" %}
{% block body_contenu %}
    <div class="row">
        <div class="col-md-3">
            <b>Sujet</b>
        </div>
        <div class="col-md-3">
            {{ entity.subject }}
        </div>
        <div class="col-md-3">
            <b>Date</b>
        </div>
        <div class="col-md-3">
            {{ entity.dateEnregistrement|temps }}
        </div>
        <div class="col-md-3">
            <b>From</b>
        </div>
        <div class="col-md-3">
            {{ entity.from }}
        </div>
        <div class="col-md-3">
            <b>To</b>
        </div>
        <div class="col-md-3">
            {{ entity.to }}
        </div>
    </div>
    <blockquote>
        {{ entity.body|raw }}
    </blockquote>
    {% if entity.fichiers | length %}
        <h3>Fichiers</h3>
        <ul>
            {% for fichier in entity.fichiers %}
                <li>
                    <a target="_new" href="{{ path('public_index')~fichier }}">{{ fichier }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
