{% from "MkkSiteBundle:bootstrap3:macro.html.twig" import modalOktmpl %}
{% use "MkkSiteBundle:bootstrap3:blocks.html.twig" %}
{{ modalOktmpl( "PopupRequired", "Information", "Tout les champs obligatoires pour le formulaire ne sont pas remplit" ) }}
