{% from "MkkAdminBundle:Default:macro.html.twig" import navbarform %}
{% extends "MkkAdminBundle:Page:layout.html.twig" %}
{% from "MkkAdminBundle:Default:macro.html.twig" import uploadFile %}
{% block body_contenu %}
	{{ form_start(form) }}
	{% set tabnav = [] %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Informations',
			'html': 'MkkAdminBundle:Page:form/informations.html.twig'
		}
	]) %}
	{% set tabnav = tabnav | merge([
		{
			'type': 'media',
			'html': 'MkkAdminBundle:Page:form/media.html.twig'
		}
	]) %}
	{{ navbarform(md5,tabnav, form, param) }}
	{{ form_end(form) }}
{% endblock %}
