{% extends "MkkAdminBundle:Page:layout.html.twig" %}
{% from "MkkAdminBundle:Page:macro.html.twig" import tbody %}
{% block body_contenu %}
<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            {thselection}
            <th{% if paginator.isSorted('p.titre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginator, 'Titre', 'p.titre') }}</th>
            <th{% if paginator.isSorted('p.url') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginator, 'Url', 'p.url') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in paginator %}
            {{ tbody(entity, routes) }}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
