{% extends "MkkAdminBundle:Partenaire:layout.html.twig" %}
{% from "MkkAdminBundle:Partenaire:macro.html.twig" import tbody %}
{% block body_contenu %}
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                {thselection}
                <th{% if paginator.isSorted('p.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginator, 'Nom', 'p.nom') }}</th>
                <th>Vignette</th>
                <th>Lien</th>
            </tr>
        </thead>
        <tbody>
            {% for partenaire in paginator %}
                {{ tbody(partenaire) }}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
