{% extends "MkkAdminBundle:Default:langue.html.twig" %}
{% macro tbody(partenaire) %}
	<tr>
		<td>
			<input type="checkbox" name="selection[]" value="{{ partenaire.id }}"/>
		</td>
		<td>
			<a data-rel="modifier" href="{{ path('bepartenaire_form',{'id': partenaire.id }) }}" title="Modifier">{{ partenaire.nom }}</a>
		</td>
		<td class="table-image">
			{% if partenaire.image is defined and partenaire.image != "" %}
				<img src="{{ asset(partenaire.image) }}"/>
			{% else %}
				Aucune image
			{% endif %}
		</td>
		<td>
			<a href="{{ partenaire.url }}" target="_blank">{{ partenaire.url }}</a>
		</td>
	</tr>
{% endmacro %}
{% block formdescriptionLangue %}
	{{ form_row(newform.description) }}
{% endblock %}
{% macro formdescription(setform, param) %}
	{% set fonction = 'formdescriptionLangue' %}
	{{- block('langueform') -}}
{% endmacro %}
