{% from "MkkAdminBundle:Default:macro.html.twig" import navbarform %}
{% extends "MkkAdminBundle:Moncompte:layout.html.twig" %}
{% block body_contenu %}
	{{ form_start(form) }}
	{% set tabnav = [] %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Informations',
			'html': 'MkkAdminBundle:Moncompte:index/informations.html.twig'
		}
	]) %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Coordonnées',
			'html': 'MkkAdminBundle:Moncompte:index/coordonnees.html.twig'
		}
	]) %}
	{{ navbarform(md5,tabnav, form, param) }}
	{{ form_end(form) }}
{% endblock %}
