{% extends "MkkAdminBundle:Droit:layout.html.twig" %}
{% from "MkkAdminBundle:Droit:macro.html.twig" import tbody %}
{% block body_contenu %}
{% for route in routesdroit %}
    {% if selection==route.module %}
        <h3>{{ metarianes[route.module] }}</h3><br />
        <table id="TableauDroit" class="table table-striped table-condensed table-hover" data-imginterdit="{{ asset('bundles/tvbdevispublic/led_com_rouge.gif') }}" data-imgautoriser="{{ asset('bundles/tvbdevispublic/led_com_verte.gif') }}">
            <thead>
                <tr>
                    <th colspan="2">action</th>
                        {% for group in groups %}
                            {% if backend!=1 or (backend==1 and group.code!="superadmin" and group.code!="visiteur") %}
                            <th style="text-align:center;" title="{{ group.nom }}">{{ group.code }}</th>
                            {% endif %}
                        {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">all</td>
                    {% set action = "all" %}
                    {% for group in groups %}
                        {% if backend!=1 or (backend==1 and group.code!="superadmin" and group.code!="visiteur") %}
                            <td style="text-align:center">
                                <span data-action="{{ action }}" style="height: 20px; width: 40px; cursor:pointer;" id="Module{{ route.module }}Action{{ action }}Group{{ group.id }}" data-rel="{{ path('bedroit_json-set',{'module': route.module,'action': action,'group': group.id }) }}" class="btn btn-info">&nbsp;</span>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% for action in route.action %}
                    {{ tbody(action, backend, groups, route, data) }}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endfor %}

{% endblock %}
