{% macro tbody(action, backend, groups, route, data) %}
    <tr>
        <td>{{ action }}</td>
        <td style="text-align:center">
            <span data-action="{{ action }}" style="height: 20px; width: 40px; cursor:pointer;" data-rel="{{ path('bedroit_json-set',{'module': route.module,'action': action }) }}" class="btn btn-info btn-nochange">&nbsp;</span>
        </td>
        {% for group in groups %}
            {% if backend!=1 or (backend==1 and group.code!="superadmin" and group.code!="visiteur") %}
                <td style="text-align:center">
                    <span data-action="{{ action }}" style="height: 20px; width: 40px; cursor:pointer;" id="Module{{ route.module }}Action{{ action }}Group{{ group.id }}" data-rel="{{ path('bedroit_json-set',{'module': route.module,'action': action,'group': group.id }) }}" class="btn btn-{% set code = action|imgActifDesactifDroit(route.module,group.id,data) %}{{ code }}" title="{{ group.nom }}">&nbsp;</span>
                </td>
            {% endif %}
        {% endfor %}
    </tr>
{% endmacro %}
