{% extends "MkkAdminBundle:Diaporama:layout.html.twig" %}
{% from "MkkAdminBundle:Default:macro.html.twig" import navbarform %}
{% from "MkkAdminBundle:Diaporama:macro.html.twig" import forminfo %}
{% from "MkkAdminBundle:Default:macro.html.twig" import uploadFile %}
{% block body_contenu %}
	{{ form_start(form['standard']) }}
	{% set tabnav = [] %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Informations',
			'html': 'MkkAdminBundle:Diaporama:form/informations.html.twig'
		}
	]) %}
	{{ navbarform(md5,tabnav, form, param) }}
	{{ form_end(form['standard']) }}
{% endblock %}
