{% extends "MkkAdminBundle:Diaporama:layout.html.twig" %}
{% from "MkkAdminBundle:Diaporama:macro.html.twig" import tbody %}
{% block body_contenu %}
<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            {thselection}
            <th{% if paginator.isSorted('d.nom') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginator, 'Nom', 'd.nom') }}</th>
            <th class="TextRight{% if paginator.isSorted('d.totalnbimage') %} sorted{% endif %}">{{ knp_pagination_sortable(paginator, "Nombre d'images", 'd.totalnbimage') }}</th>
            <th>code HTML</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in paginator %}
            {{ tbody(entity) }}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
