{% extends "MkkAdminBundle:Default:langue.html.twig" %}
{% macro tbody(entity) %}
	<tr>
		<td>
			<input type="checkbox" name="selection[]" value="{{ entity.id }}"/>
		</td>
		<td>
			<a href="{{ path('bediaporama_form',{'id': entity.id }) }}" title="Modifier">{{ entity.Nom }}</a>
		</td>
		<td style="text-align:right">{{ entity.images|length }}</td>
		<td>{diaporama}{{ entity.id }}{/diaporama}</td>
	</tr>
{% endmacro %}
{% block forminfoLangue %}
	{{ form_row(newform.nom) }}
{% endblock %}
{% macro forminfo(setform, param) %}
	{% set fonction = 'forminfoLangue' %}
	{{- block('langueform') -}}
{% endmacro %}
