{% extends "MkkAdminBundle:Metariane:layout.html.twig" %}
{% from "MkkAdminBundle:Default:macro.html.twig" import navbarform %}
{% block body_contenu %}
	{{ form_start(form['standard']) }}
	{% set tabnav = [] %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Destinataire(s)',
			'html': 'MkkAdminBundle:Metariane:form/informations.html.twig'
		}
	]) %}
	{{ navbarform(md5,tabnav, form, param) }}
	{{ form_end(form['standard']) }}
{% endblock %}
