{% extends "MkkAdminBundle:Metariane:layout.html.twig" %}
{% from "MkkAdminBundle:Metariane:macro.html.twig" import tbody %}
{% block body_contenu %}
	<table id="TabMetariane" class="table table-striped table-condensed table-hover" {% if entities|length==0 %} style="display:none" {% endif %}>
		<thead>
			<tr>
				<th>Route</th>
				<th>Titre</th>
				<th>Meta description</th>
				<th>Meta keywords</th>
				<th>Meta robots</th>
				<th>Fil d'ariane</th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
				{{ tbody(entity) }}
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
