{% extends "MkkAdminBundle:Default:langue.html.twig" %}
{% block forminfolangueMetariane %}
	{{ form_row(newform.titre) }}
	{{ form_row(newform.description) }}
	{{ form_row(newform.keywords) }}
	{{ form_row(newform.ariane) }}
{% endblock %}
{% macro forminfo(setform, param) %}
	{% set fonction = 'forminfolangueMetariane' %}
	{{- block('langueform') -}}
{% endmacro %}
{% macro tbody(entity) %}
	<tr data-rel="list">
		<td>
			<a href="{{ path('bemetariane_form',{'id': entity.id }) }}">
				{% if routessites[entity.route]is defined %}
					<b>{{ routessites[entity.route] }}</b>
				{% else %}
					{{ entity.route }}
				{% endif %}
			</a>
		</td>
		<td>{{ entity.titre }}</td>
		<td>{{ entity.description }}</td>
		<td>{{ entity.keywords }}</td>
		<td>{{ entity.robots }}</td>
		<td>{{ entity.ariane }}</td>
	</tr>
{% endmacro %}
