{% set route = app.request.attributes.get('_route') %}
{% extends "MkkAdminBundle:Contact:layout.html.twig" %}
{% from "MkkAdminBundle:Default:macro.html.twig" import navbarform %}
{% block body_contenu %}
	{{ form_start(form) }}
	{% set tabnav = [] %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Informations',
			'html': 'MkkAdminBundle:Contact:form/informations.html.twig'
		}
	]) %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Coordonnées',
			'html': 'MkkAdminBundle:Contact:form/coordonnees.html.twig'
		}
	]) %}
	{{ navbarform(md5,tabnav, form, param) }}
	{{ form_end(form) }}

{% endblock %}
