{% extends "MkkAdminBundle:Contact:layout.html.twig" %}
{% from "MkkSiteBundle:bootstrap3:macro.html.twig" import modaltmpl %}
{% from "MkkAdminBundle:Contact:macro.html.twig" import tbody %}
{% block contactpopuprecherchebody %}
	{% include templateSearch %}
{% endblock %}
{% block contactpopuprecherchefooter %}
	<a href="#" class="btn btn-default" data-dismiss="modal">
		<i class="glyphicon glyphicon-remove glyphicon-white"></i>&nbsp;Annuler</a>
	<a href="#" data-rel="submit" class="btn btn-default">
		<i class="glyphicon glyphicon-search glyphicon-white"></i>&nbsp;Rechercher
	</a>
{% endblock %}
{% block modal %}
	{{ parent() }}
	{% if templateSearch != "" %}
		{{ modaltmpl(
            "PopupRecherche",
            'Recherche avanc&eacute;e',
            block('contactpopuprecherchebody'),
            block('contactpopuprecherchefooter')
        ) }}
	{% endif %}
{% endblock %}
{% if affichage_listingcontact is not defined %}
	{% set affichage_listingcontact = [] %}
{% endif %}
{%if app.request.get('order') is null or app.request.get('order') == 'asc' %}
	{% set ordre = 'desc' %}
	{% set iconordre = 'glyphicon glyphicon-sort-by-attributes' %}
	{%else%}
	{% set ordre = 'asc'%}
	{% set iconordre = 'glyphicon glyphicon-sort-by-attributes-alt'%}
	{% endif%}
	{% block body_contenu %}
		<table id="tabcontact" class="table table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th>
						<input data-rel="allselect" type="checkbox" popupid="PopupExporter"/>
					</th>
					<th>Contact</th>
					<th>Email</th>
					<th></th>
					<th>Client</th>
					{% for key in totalnb %}
						{% if key in affichage_listingcontact %}
							<th>{% set mot = "mkkadmin.contact.listing." ~ key %}{{ mot|trans|capitalize }}</th>
						{% endif %}
					{% endfor %}
					{% for key in totalsomme %}
						{% if key in affichage_listingcontact %}
							<th>{% set mot = "mkkadmin.contact.listing." ~ key %}{{ mot|trans|capitalize }}</th>
						{% endif %}
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for user in paginator %}
					{{ tbody(user, totalnb, totalsomme, affichage_listingcontact) }}
				{% endfor %}
			</tbody>
		</table>
	{% endblock %}
