{% macro tbody(user, totalnb, totalsomme, affichage_listingcontact) %}
    <tr>
        <td>
            <input type="checkbox" name="selection[]" value="{{ user.id }}"/>
        </td>
        <td>
            <a href="{{ path('becontact_form',{'id': user.id }) }}" title="Modifier">
                {{ user.appel }}
            </a>
        </td>
        <td>
            {lienemail}{{ user.email }}{/lienemail}
        </td>
        <td>
            {% for telephone in user.telephones %}
                {% if loop.first == false %}<br/>{% endif %}
                {lientel}{{ telephone.chiffre }}{/lientel}
            {% endfor %}
            <br/>
            {% for email in user.emails %}
                {% if loop.first == false %}<br/>{% endif %}
                {lienemail}{{ email.adresse }}{/lienemail}
            {% endfor %}
        </td>
        <td>
            {{ (user.refgroup.code == 'prospect')|boolean }}
        </td>
        {% for key in totalnb %}
            {% if key in affichage_listingcontact %}
                <td class="TextRight">{{ user|getMethods(key) }}</td>
            {% endif %}
        {% endfor %}
        {% for key in totalsomme %}
            {% if key in affichage_listingcontact %}
                <td class="TextRight">{{ user|getMethods(key)|number_format(2, ',', ' ') }}&nbsp;€</td>
            {% endif %}
        {% endfor %}
    </tr>
{% endmacro %}
