{% extends "MkkPublicBundle:Blog:layout.html.twig" %}
{% set routelien = moduleactuel~"_lien" %}
{% set routetags = moduleactuel~"_tagindex" %}
{% block body_article %}
    <ul>
    {% for bookmark in paginator %}
        <li><a href="{{ path(routelien, {'alias': bookmark.alias}) }}" target="_blank">{{ bookmark.titre }}</a>
        <br />{{ bookmark.date|temps }}
            {% if bookmark.tags|length!=0 %}
                |
            {% endif %}
            {% for tag in bookmark.tags %}
                <a href="{{ path(routetags, {'tag':tag.alias}) }}">#{{ tag.nom }}</a>
            {% endfor %}
    </li>
        <p>
            {{ bookmark.description|raw }}
        </p>
    {% endfor %}
    </ul>
{% endblock %}
