{% extends dossiersite~"::site.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/mkkpublic/css/blog.css') }}" type="text/css" />
{% endblock %}
{% block body_contenu %}
    {% block body_article %}{% endblock %}
{% endblock %}
