{% extends "MkkAdminBundle:Edito:layout.html.twig" %}
{% from "MkkAdminBundle:Default:macro.html.twig" import navbarform %}
{% import "MkkAdminBundle:Edito:macro.html.twig" as macroEdito %}
{% from "MkkAdminBundle:Edito:macro.html.twig" import forminfo %}
{% block body_contenu %}
	{{ form_start(form['standard']) }}
	{% set tabnav = [] %}
	{% set tabnav = tabnav | merge([
		{
			'titre': 'Informations',
			'html': 'MkkAdminBundle:Edito:form/informations.html.twig'
		}
	]) %}
	{{ navbarform(md5,tabnav, form, param) }}
	{{ form_end(form['standard']) }}
{% endblock %}
