{% extends "MkkAdminBundle:Edito:layout.html.twig" %}
{% from "MkkAdminBundle:Edito:macro.html.twig" import tbody %}
{% block body_contenu %}
<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            {thselection}
            <th{% if paginator.isSorted('e.titre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginator, "Titre", 'e.titre') }}</th>
            <th{% if paginator.isSorted('e.datepublication') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginator, "Date publication", 'e.datepublication') }}</th>
            <th style="text-align: center;"{% if paginator.isSorted('e.actif') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(paginator, "Actif", 'e.actif') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in paginator %}
            {{ tbody(entity) }}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
