{% extends "MkkAdminBundle:Default:langue.html.twig" %}
{% macro tbody(entity) %}
	<tr>
		<td>
			<input type="checkbox" name="selection[]" value="{{ entity.id }}"/>
		</td>
		<td>
			<a href="{{ path('beedito_form',{'id': entity.id }) }}">{{ entity.titre }}</a>
		</td>
		<td>
			{% if entity.datedebut != NULL %}
				{{ entity.datedebut|temps }}
			{% else %}
				Non renseignée
			{% endif %}
		</td>
		<td style="text-align:center;">
			{{ entity.publier|boolean }}
		</td>
	</tr>
{% endmacro %}
{% block forminfoLangueEdito %}
	{{ form_row(newform.titre) }}
	{{ form_row(newform.contenu) }}
{% endblock %}
{% macro forminfo(setform, param) %}
	{% set fonction = 'forminfoLangueEdito' %}
	{{- block('langueform') -}}
{% endmacro %}
